extends /base.jade
block vars
  - var rootid = "chartview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.com/"
block head
block body
  div &nbsp;
  #root(ng-controller="chartEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    br
    .text-center
      h3 Request a Chart
      p use illustration, photo + description to show what you watn to do
      br
      .btn.btn-success Make a Request
    br
    br
    .panel.panel-default: .panel-body
      h3 Make a Request
      label Upload a reference image and describe what you want it to be by text
      textarea.form-control(rows="10")
      div(style="margin-top:5px;")
        .btn.btn-default: i.fa.fa-paperclip
        .pull-right: .btn.btn-default Submit
    br
    br
    .text-center
      p or check out requests from others...
    hr
    .text-right
      div(style="width:200px;display:inline-block")
        .input-group
          input.form-control(type="text",placeholder="keyword")
          span.input-group-btn
            .btn.btn-default: i.fa.fa-search
    include ../widget/request.jade
