extends /base.jade
block vars
  - var rootid = "chartview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.com/"
block head
block body
  div &nbsp;
  #root(ng-controller="chartEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    br
    .text-center
      h3 Request a Chart
      p use illustration, photo + description to show what you watn to do
      br
      .btn.btn-success Make a Request
    br
    br
    .text-center
      h3 Requests
      p want to do other a chart? let's find out!
    hr
    .text-right
      div(style="width:200px;display:inline-block")
        .input-group
          input.form-control(type="text",placeholder="keyword")
          span.input-group-btn
            .btn.btn-default: i.fa.fa-search
    div(style="display:flex;flex-wrap:wrap")
      each i in [1,2,3,4,5,6,7,8,9]
        div(style="width:240px;min-height:40px;background:#fff;border:1px solid #ccc;box-shadow:0 1px 2px rgba(0,0,0,0.2);border-radius:3px;padding:5px;margin:10px 10px;flex:1 1 auto")
          div(style="font-weight:900;font-size:1.2em;") want to build a voronoi treemap like this one...

