extends ../../../base.jade
block vars
  - var rootid = "errorview"
block head
block body
  .spc1
  #root.narrow
    br
    h1.text-center Reset Link Sent.
    p.text-center: big check your email inbox for the password reset email.
    .text-center: img(src="/assets/img/plotdb-mail-sent.png")
    p.text-center.grayed not receiving mail? #[br] try #[a(href="http://localhost/auth/reset/") send it again] or #[a(href="https://plotdb.com/info/contact/") contact us]

    p.text-center #[br] #[a(href="/") back to home]
    br

