@import '../basic'
@import '../vars'

.select2-user
  img
    width: 14px
    vertical-align: middle
  span
    font-size: 14px
    vertical-align: middle
.select2-user.selected
  display: inline-block
  margin-left: 2px
  border-left: 1px solid #ccc
  padding-left: 4px

  
