extends /base.jade
block vars
  if !chart
    - var rootid = "chartview"
    - var title = 'Visualization Editor @ PlotDB'
    - var description = "Create, share and request visualizations online."
    - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/"
  else
    - var rootid = "chartview"
    - var title = (chart.name || 'New Chart') + ' / Visualize with PlotDB'
    - var description = chart.description || 'share your visualization via PlotDB.'
    - var thumbnail = "https://plotdb.com/s/chart/" + chart.key + ".png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/chart/" + chart.key
  - use.stripe = true;
block head
  script(src="https://apis.google.com/js/api.js")
  if chart
    script.
      window.chart = !{JSON.stringify(chart).replace(/<\//g, "<\\/")}
  if permtype
    script.
      window.permtype = !{JSON.stringify(permtype).replace(/<\//g, "<\\/")};
  if theme
    script.
      window.theme = !{JSON.stringify(theme).replace(/<\//g, "<\\/")};
block body
  .spc1
  include /widget/quota.jade
  +quota-panel
  #root.pleditor(ng-controller="plEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    //- include static version for speeding up
    include /static/editor/editor.html
    if chart
      include /static/editor/bind.html
    include /static/editor/delete.html
  include /footer.jade
