+cover-modal("settingPanel.toggled","settingPanel.toggle()","narrow")
  .panel.panel-default(ng-controller="permEdit",ng-init="setPerm("+perm+")")
    .panel-heading &nbsp;
    .panel-body: div(ng-cloak)
      ul.nav.nav-tabs
        li(ng-class="{'active':tab=='publish'}",ng-click="tab='publish'")
          a(href="#") #[i.fa.fa-bullhorn] Publish
        li(ng-class="{'active':tab=='permission'}",ng-click="tab='permission'")
          a(href="#") #[i.fa.fa-lock] Permission
        li(ng-class="{'active':tab=='chartinfo'}",ng-click="tab='chartinfo'")
          a(href="#") #[i.fa.fa-info-circle] Chart Info
      .perm-item(style="padding: 10px 0")
        .btn-group
          .btn.btn-default.btn-sm(ng-class="{'active':perm.switch=='publish'}",ng-click="perm.switch='publish'")
            i.fa.fa-check.text-success
            span  Published
          .btn.btn-default.btn-sm(ng-class="{'active':perm.switch=='draft'}",ng-click="perm.switch='draft'")
            i.fa.fa-check.text-success
            span  Draft
        .pull-right.btn.btn-text.btn-sm(
        ng-show="perm.switch=='publish'") #[b visible] in embed code / share link
        .pull-right.btn.btn-text.btn-sm(
        ng-show="perm.switch=='draft'") #[b invisible] in embed code / share link

        .sep
        div(ng-show="tab=='permission'")
          include /widget/permission.jade
        div(ng-show="tab=='publish'")
          include /widget/publish.jade
        div(ng-show="tab=='chartinfo'")
          include /widget/chartinfo.jade

    .panel-footer.text-right
      .btn.btn-success.btn-sm(ng-class="{'btn-glowing': needSave}",ng-click="save()") SAVE
      span &nbsp;
      .btn.btn-default.btn-sm(ng-click="settingPanel.toggle()") Cancel

