@import '../basic'
@import '../vars'

// structure
// #nav-top > nav.navbar.navbar-default > .container-fluid
//   .navbar-header
//     a.navbar-brand
//   div
//     nav.navbar-nav
//      li: a

#nav-top
  width: 100%
  height: 60px
  position: fixed
  transition all 0.3s ease-out
  //border-bottom: 1px solid #999
  //border-bottom: 1px solid #ccc
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
  background: #fff
  color: #444
  z-index: index(order, 'nav-top')

#nav-top nav.navbar-default
  transition all 0.3s ease-out
  background: none
  border: none
  color: #444
  max-width: 1200px
  margin: 0 auto

#nav-top nav.navbar-default
  li a
    font-weight: 200
  .dropdown li a
    font-weight: 400
  .navbar-nav > li > a
    padding-top: 20px
    padding-bottom: 20px
    transition(padding 0.5s ease-in-out)
  .navbar-nav > li > div
    padding-top: 17px
    padding-bottom: 17px
    transition(padding 0.5s ease-in-out)
  .navbar-brand
    padding: 13px 10px 8px
    height: 56px
    transition padding 0.5s ease-in-out, height 0.5s ease-in-out
  #nav-localdata > a
    padding-top: 7px
    padding-bottom: 6px
    transition(padding 0.5s ease-in-out)
  .navbar-brand, .navbar-nav > li > a
    color: #444
    letter-spacing: 1px
  .navbar-nav > li > a:hover
    color: #ed1d78
    //-text-shadow: 0 0 5px rgba(255,255,128,0.7)
  .navbar-nav > li.open > a
    background: #ed1d78
    color: #fff
  .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
    color: #fff
    background: #ed1d78

@media (min-width: 800px)
  #nav-top.dim
    height: 50px
    background: rgba(255,255,255,0.9)
  #nav-top.dim nav.navbar-default
    .navbar-nav > li > a
      padding-top: 15px
      padding-bottom: 15px
    .navbar-nav > li > div
      padding-top: 13px
      padding-bottom: 13px
    .navbar-brand
      padding: 8px 10px 3px
      height: 46px


#nav-top li.dropdown
  cursor: pointer
  padding: 0
  .avatar
    width: 24px
    height: 24px
    margin-right: 10px
    border-radius: 3px
    background-color: #ddd
    background-size: contain
    display: inline-block
    vertical-align: middle
  li
    text-shadow: none
  .dropdown-menu
    background: rgba(255,255,255,1)
    position: absolute
    border-radius: 3px
    border: 1px solid #ccc
    box-shadow: 0 2px 3px rgba(0,0,0,0.1)

#nav-top .navbar-nav
  float: left
  margin: 0
  & > li
    float: left

#nav-top .pull-right li.dropdown .dropdown-menu
  left: auto
  right: 5px

#nav-top .navbar-default .navbar-nav > .open > a
  background: rgba(0,0,0,0.1)

#nav-login i.fa, #nav-request i.fa
  display: none

#nav-top nav.navbar-default li#nav-localdata > a
  border: 1px solid #ccc
  font-size: 12px
  border-radius: 3px
  padding-bottom: 7px
  padding-top: 6px
  margin: 14px 0
  background: #fff
  position: relative
  &:before
    content: "local data"
    display: block
    position: absolute
    top: -8px
    left: 6px
    color: #fff
    background: #777
    font-size: 9px
    line-height: 11px
    padding: 1px 3px
    border: 1px solid #666
    border-radius: 3px

#subnav-top
  background: #eee
  width: 100%
  height: 26px
  position: fixed
  top: 60px
  z-index: index(order, 'subnav-top')
  transition all 0.3s ease-out
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
  .ib
    max-width: 1200px
    margin: auto
  a
    letter-spacing: 0.5px
    margin-right: 40px
    color: #777
    padding: 5px
    display: inline-block
    font-size: 12px
    
@media (min-width: 800px)
  #subnav-top.dim
    top: 50px
    background: rgba(255,255,255,0.9)
    border-bottom: 1px solid #ccc
    box-shadow: 0 1px 2px rgba(0,0,0,0.2)

@media (max-width: 1240px)
  #nav-top nav.navbar-default
    max-width: initial
    margin: 0 20px

@media (max-width: 800px)
  #nav-top
    height: 46px
  #subnav-top
    top: 46px
  #nav-top .navbar-header
    margin: 0 5px 0 0
    float: left
  #nav-top nav.navbar-default .navbar-brand
    height: auto
    padding: 5px 0
    margin: 0
  #nav-top .container-fluid
    padding: 0
  #nav-top nav.navbar-default
    margin: 0 10px
    min-height: initial
  #nav-top nav.navbar-default .navbar-nav > li > div
    padding: 10px 5px
  #nav-top nav.navbar-default .navbar-nav li > a
    font-size: 12px
    padding: 14px 12px 12px
  #nav-top nav.navbar-default .navbar-nav .dropdown-menu li > a
    font-size: 13px
    padding: 5px 10px
    color: #333


@media (max-width: 800px)
  #nav-login, #nav-request
    span
      display: none
    i.fa
      display: inline
      font-size: 1.2em
  #subnav-top
    display: none
  #nav-top ul.nav.navbar-nav li a .name
    display: none

@media (min-width: 800px)
  #nav-top ul.nav.navbar-nav li a
    i.fa, img
      display: none

@media (max-width: 480px)
  #nav-top nav.navbar-default .navbar-nav > li > a
    font-size: 12px
    padding: 14px 6px 12px
  #nav-top nav.navbar-default .navbar-brand
    padding: 9px 0
    img
      width: 36px

#nav-top
  color: #eee
  background: #222
  border-bottom: 1px solid #000
#nav-top nav.navbar-default  .navbar-nav > li > a
  color: #eee

#nav-top.dim
  background: rgba(0,0,0,0.8)

#nav-profile span:first-child
  color: #fff
  vertical-align: middle
  letter-spacing: 1.5px
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 100
  font-size: 12px
  margin-right: 5px
