extends /base.jade
block vars
  - var rootid = "chartview"
  - var title = 'Request for visualizations / PlotDB'
  - var description = "Need a visualization design? let the pro help!"
  - var url = "http://plotdb.com/chart/request"
block head
  link(rel="stylesheet",type="text/css",href="/assets/medium-editor/5.15.1/css/medium-editor.min.css")
  link(rel="stylesheet",type="text/css",href="/assets/medium-editor/5.15.1/css/themes/beagle.min.css")
  link(rel="stylesheet",type="text/css",href="/assets/medium-insert/2.2.4/css/frontend.min.css")
  link(rel="stylesheet",type="text/css",href="/assets/medium-insert/2.2.4/css/base.min.css")
  script(type="text/javascript",src="/assets/medium-editor/5.15.1/js/medium-editor.min.js")
  script(type="text/javascript",src="/assets/medium-list/1.0.5/medium-editor-list-min.js")
  script(type="text/javascript",src="/assets/handlebars/4.0.5/handlebars.runtime.min.js")
  script(type="text/javascript",src="/assets/jquery-sortable/0.9.13/jquery-sortable-min.js")
  script(type="text/javascript",src="/assets/blueimp-file-upload/9.11.2/jquery.ui.widget.js")
  script(type="text/javascript",src="/assets/blueimp-file-upload/9.11.2/jquery.iframe-transport.js")
  script(type="text/javascript",src="/assets/blueimp-file-upload/9.11.2/jquery.fileupload.js")
  script(type="text/javascript",src="/assets/medium-insert/2.2.4/js/index.min.js")
  script(type="text/javascript",src="/js/request.js")
block body
  .spc1
  .page-header: .inner
    .title #{request.name}
    .desc visualization request by #[a(href="/user/#{request.owner}") #{request.username}]
  #root.narrow.with-header(ng-controller="plRequest")
    each comment in comments
      .panel.panel-default
        .panel-body
          != comment.content
    br
    h3 Response
    .sep
    .panel.panel-default
      #request-editor.panel-body(style="border:none;box-shadow:none")
        .editable
      .panel-footer
        .btn.btn-success Response

  include /footer.jade
