div(ng-controller="dataEditCtrl")
  .pull-right(style="margin-top:30px")
    label.grayed Your Storage Usage
    .progress(style="width:240px")
      .progress-bar.progress-bar-info(
      ng-class="{'progress-bar-info': ((user.data.datasize || 0) / 100000 < 50), 'progress-bar-warning': ((user.data.datasize || 0) / 100000 > 50)}",
      ng-attr-style="width:{{(user.data.datasize || 0)/ 100000}}%")
        span {{user.data.datasize|size}}
  h3.page-title 
    if dataset
      span #[small dataset] #{dataset.name}
    else
      span Create Dataset

  if dataset
    .entries
      .entry
        i.fa.fa-clock-o
        span(ng-cloak) {{dataset.modifiedtime || dataset.createdtime|datelite}}
      .entry
        i.fa.fa-list
        span #{dataset.rows} rows
      .entry
        i.fa.fa-archive
        span(ng-cloak) {{dataset.size|size}}
  else
    p create dataset to use them in your visualization.

  .sep.dark.break
  include widget/create.jade
