extends /base.jade
block vars
  - var rootid = "dataview"
  - var title = 'Create Dataset / PlotDB'
  - var url = "http://plotdb.com/dataset/"
block head
  script(type="text/javascript",src="/js/io.js")
  script(type="text/javascript",src="/js/chart/base.js")
  script(type="text/javascript",src="/js/data/sample.js")
  script(type="text/javascript",src="/js/data/index.js")
block body
  .spc1
  style(type="text/css").
    #root {
      max-width: 1200px;
      margin: auto;
    }

    .dimensionx {
      width: 160px;
      flex: 1 1 160px;
      margin: 0 5px 10px;
    }
  div(ng-controller="blah")
    #root(ng-controller="datasetList",ng-cloak)
      h1 Data Binding
      .sep.dark
      .databinder.row
        .col-sm-4
          .ds-list-panel.panel.panel-default
            .panel-heading
              | Dataset List
            .panel-body
              .input-group
                input.input-sm.form-control(ng-model="filter.search")
                span.input-group-btn: .btn.btn-default.btn-sm: i.fa.fa-search
              .btn.btn-default.btn-sm #[i.fa.fa-plus-circle] New Dataset
              .sep
              .ds-list
                .ds-list-item(ng-repeat="dataset in datasets",ng-click="setcur(dataset)",
                ng-class="{'active':cur==dataset}")
                  img.avatar(ng-attr-src="/s/avatar/{{dataset.owneravatar || 0}}.jpg")
                  div(style="display:inline-block")
                    .name {{dataset.name}}
                    .grayed {{dataset.rows}} Rows, {{dataset.fields.length}} Fields
                  small.grayed.pull-right(ng-show="dataset.isSample") sample data
                .text-center.grayed(ng-show="!datasets.length && filter.search") no result. try other keyword? #[i.fa.fa-warning]
                .text-center.grayed(ng-show="datasets.length || !filter.search") that's all. #[i.fa.fa-smile-o]

        .col-sm-8
          .ds-fields-panel.panel.panel-default
            .panel-heading
              | Field List
            .panel-body
              label
                .ball(ng-class="{'active':cur}")
                span(ng-cloak,ng-show="cur") {{cur.name}}
              span.grayed(ng-show="!cur") ( no dataset select ... )
              .info
                small.grayed(ng-show="cur") {{cur.rows}} Rows, {{cur.fields.length}} Fields
                span &nbsp;
              .sep
              #field-agent.data-field(ng-drag="true",ng-drag-data="fieldAgent.data",
              ng-drag-start="fieldAgent.drag.start()",ng-drag-stop="fieldAgent.drag.end()",ng-show="chosen.key")
                span {{fieldAgent.data.name}}
                small {{fieldAgent.data.type}}
              .ds-fields
                .ds-field(ng-repeat="field in cur.fields",ng-mouseover="fieldAgent.setProxy($event,field)",
                ng-drag="true",ng-drag-data="field")
                  i.fa.fa-bars(style="")
                  .detail
                    .name {{field.name || '(empty)'}}&nbsp;
                    .grayed: small Number, Rate, Percent, Change
                .ds-field.flexend(style="cursor:default")

          .chart-dims-panel.panel.panel-default: .panel-heading
            .text-center #[i.fa.fa-arrow-down] Drag Field to Map Dimension #[i.fa.fa-arrow-down]
          .chart-dims
            each i in [1,2,3,4,5]
              .chart-dim.panel.panel-default
                .panel-body
                  b value
                  .grayed accept: #[i any]
                  .ds-fields
                    .ds-field(ng-repeat="field in cur.fields",ng-show="$index="+i)
                      .delete: span &times;
                      .name {{field.name}}&nbsp;
                      small.grayed in appworksout
            .chart-dim.flexend

  script(type="text/javascript").
    angular.module("plotDB").controller("blah", ["$scope",function($scope) {
      $scope.cur = null;
      $scope.setcur = function(v) { 
        $scope.cur = v; 
      };
      $scope.limitscroll(document.querySelectorAll(".ds-list")[0]);
    }]);
