extends /base.jade
block vars
  - var rootid = "exploreview"
  - var url = "http://plotdb.com/chart/explore/"
block head
block body
  .spc1
  .page-header: .inner
    .title Explore Viz
    .desc public charts available for re-use.
  #root.narrow.with-header(ng-controller="chartList")
    div(style="height:60px")
    #chart-filter.scroll-stick(data-top="65")
      include ../widget/search.jade
    include ../widget/charts.jade
  include /footer.jade
