extends /base.jade
block vars
  - var rootid = "exploreview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.com/"
block head
block body
  span &nbsp;
  #root(style="max-width:1200px;margin-left:auto;margin-right:auto;",ng-controller="chartList")
    #chart-explore-bar.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Chart Type #[span.caret]
              ul.dropdown-menu
                li: a(href="#") Line Chart
                li: a(href="#") Bar Chart
                li: a(href="#") Pie Chart
                li: a(href="#") Scatter Plot
                li: a(href="#") Area Chart
                li: a(href="#") Polar Chart
                li: a(href="#") Bubble Chart
                li: a(href="#") Cartography
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Category #[span.caret]
              ul.dropdown-menu
                li: a(href="#") Jounalaism
                li: a(href="#") Statistics
                li: a(href="#") Scentific
                li: a(href="#") Business
                li: a(href="#") Time Series
                li: a(href="#") Geographic
                li: a(href="#") Animated
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Order #[span.caret]
              ul.dropdown-menu
                li: a(href="#") Latest
                li: a(href="#") Popular
                li: a(href="#") Editor's Choice

          form.navbar-form.navbar-right
            .form-group
              .input-group
                input.form-control(type="text",placeholder="Search")
                .input-group-btn
                  .btn.btn-default #[i.fa.fa-search]

    include ../widget/charts.jade

      .chart.flexend
    br
    .text-center: a(href="#") I want MORE! &nbsp; #[i.fa.fa-pie-chart]
    br
    hr
    br

  include /footer.jade
