extends /base.jade
mixin edfuncClose
  .pull-right: .closebtn.inner.inverse.lg(ng-click="edfuncSet('')")
block vars
  if !chart
    - var rootid = "chartview"
    - var title = 'Visualization Editor @ PlotDB'
    - var description = "Create, share and request visualizations online."
    - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/"
  else
    - var rootid = "chartview"
    - var title = (chart.name || 'New Chart') + ' / Visualize with PlotDB'
    - var description = chart.description || 'share your visualization via PlotDB.'
    - var thumbnail = "https://plotdb.com/s/chart/" + chart.key + ".png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/chart/" + chart.key
  - use.stripe = false;
block head
  script(src="https://apis.google.com/js/api.js")
  link(rel="stylesheet",type="text/css",href="/dist/0.1.0/plotdb.min.css")
  link(rel="stylesheet",type="text/css",href="/assets/ion-rangeslider/2.1.7/css/ion.rangeSlider.css")
  link(rel="stylesheet",type="text/css",href="/assets/ion-rangeslider/2.1.7/css/ion.rangeSlider.skinFlat.css")
  script(type="text/javascript",src="/assets/ion-rangeslider/2.1.7/js/ion.rangeSlider.min.js")
  script(type="text/javascript",src="/lib/plotd3/0.1.0/index.js")
  //-script(type="text/javascript",src="/js/dev/editor.js")
  script(type="text/javascript",src="/js/pack/view.js")
  script(type="text/javascript",src="/js/dev/test.js")
  include /colorblind.jade

block body
  br
  br
  div(ng-controller="pldev")
    br
    br
    br
    br
    textarea(codeeditor,ng-model="blah",ng-change="blah.change")
