#dataset-create-methods {
  margin-bottom: 10px;
}
#dataset-create-methods .btn {
  margin-right: 10px;
  background: #f9f9f9;
  border: 1px solid rgba(0,0,0,0.2);
}
#dataset-create-methods .btn.pull-right {
  margin-right: 0;
}
#dataset-create-methods .btn.toggle {
  border: 1px solid #ed1d78;
  background: #fff;
}
#dataset-create-methods .btn img {
  width: 24px;
}
#dataset-create-methods .btn i.fa {
  vertical-align: middle;
  font-size: 24px;
}
#dataset-editbox textarea {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: monospace;
  max-width: 100%;
  min-height: 220px;
}
#dataset-editbox-meta {
  padding: 10px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ccc;
  border-top: 0;
  background: #f9f9f9;
}
.float-dataedit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 23;
  padding: 70px 20px;
  display: none;
  opacity: 0;
}
.float-dataedit.active {
  display: block;
  opacity: 1;
}
.float-dataedit .dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.float-dataedit .ib {
  position: relative;
}
.float-dataedit #dataset-create-methods {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}
.float-dataedit textarea {
  border-radius: 0;
}
