extends /base.jade
block vars
  - var rootid = "pricingview"
  - var title = 'Pricing / PlotDB'
  - var url = "https://plotdb.com/pricing/"
block head
block body
  #root
    label Free Plan
    label Basic Plan
    label Pro Plan
    Dataset Size
    Chart
    Theme
    Privacy
    Brand free
    Traffic
  include ../footer.jade

