extends /base.jade
block vars
  - var rootid = "exploreview"
  - var title = 'Visualization Themes / PlotDB'
  - var url = "http://plotdb.com/theme/explore"
block head
block body
  .spc1
  .page-header: .inner
    .title Explore Themes
    .desc use theme to normalize your chart.
  #root.narrow.with-header(ng-controller="themeList")
    include ../widget/themes.jade

  include /footer.jade
