extends /base.jade
block head
  script(type="text/javascript",src="/js/profile.js")
block body
  #root.narrow
    h3 Billing Information
    .sep.gap
    .row
      .col-sm-6
        .panel.panel-default
          .panel-body(style="position:relative")
            .text-center
              span Your Current Plan
              br
              br
              div(style="width:80px;height:83px;margin:auto;background:url(/assets/img/pricing/pic2-frame.png);background-size:contain;")
              h2(style="margin-top:0px;margin-bottom:5px") Basic Plan
              small usd 20$ / month
            br
            .text-center
              .btn.btn-link #[i.fa.fa-question-circle-o]  what's in this plan?
              span |
              .btn.btn-link change plan

      .col-sm-6
        .panel.panel-default
          .panel-body
            span Current Payment Information:
            br
            .form(style="max-width:480px;margin:auto")
              .sep.gap
              .pull-right: big: big
                i.fa.fa-credit-card(style="vertical-align:top")
              label Using Credit Card
              input.form-control.disabled(type="input",disabled,placeholder="Card Number",value="xxxx-xxxx-xxxx-4046")
              br
              .row
                .col-sm-6
                  label Next Billing Due
                  div(style="background:#eee;padding:5px 10px;border-radius:3px") 2016-09-01 $20.00
                .col-sm-6
                  label Amount
                  br
                  div(style="background:#eee;padding:5px 10px;border-radius:3px") $20.00
              .sep.gap
            a.pull-right update payment method
            a.pull-left payment history

    style(type="text/css").
      .pay-history {
        width: 100%;
      }
      .pay-history tr {
        border-bottom: 1px solid #bbb;
      }
      .pay-history tr td{
        border-right: 1px solid #ddd;
        padding: 5px;
        text-align: center;
      }
    .panel.panel-default
      .panel-heading: b Payment History
      table.panel-body.pay-history
        tr
          td: b State
          td: b Transaction ID
          td: b Date
          td: b Amount
          td: b Plan
          td: b Payment Method
        each i in ['2016/01/01', '2016/02/01', '2016/03/01','2016/04/01']
          tr
            td: i.fa.fa-check.text-success
            td XUSQ3AS
            td= i
            td $20.00
            td Basic
            td #[i.fa.fa-credit-card] xxxx-xxxx-xxxx-4046

  include /footer.jade
