extends /module/base.jade
block head
  script(type="text/javascript",src="/js/profile.js")
block body
  div(style="height: 60px")
  div(style="width:100%;height:160px;position:relative;border-bottom:2px solid #bbb")
    div(style="position:absolute;width:100%;height:100%;background:#999;background-size:contain;opacity: 0.3")
    div(style="max-width:1200px;margin:auto;position:relative;height:100%;")
      div(style="width:100px;height:100px;background:#999;border-radius:5px;background:#222;position:absolute;bottom:30px;left: 20px")
      div(ng-cloak,style="position:absolute;bottom:52px;left:140px;font-size:24px;letter-spacing:0.5px") {{user.data.displayname}}
      div(style="position:absolute;bottom:32px;left:140px;font-size:14px;letter-spacing:0.5px")
        span #[i.fa.fa-map-marker] Taipei, Taiwan
        span &nbsp; &nbsp;
  div(style="max-width:1200px;margin:auto",ng-controller="profile")
    //-
      img.pull-left(src="/assets/img/avatar.png",style="border-radius:3px")
      h3.pull-left(ng-cloak) {{user.data.displayname}}
      br
      .clearfix
      .well
        .row.text-center
          .col-sm-4
            div 5 charts
          .col-sm-4
            div 3 themes
          .col-sm-4
            div 10 datasets
    br
    hr
    h2.text-center My Charts
    .text-center You underestimate my power
    br
    .well
      .charts(ng-controller="chartList")
        .chart(ng-repeat="chart in charts",ng-attr-style="display:inline-block;flex:1 1 {{chart.width}}px",ng-click="load(chart)")
          .chart-img: .ib(ng-attr-style="background-image:url({{chart.thumbnail}})")
          .chart-desc
            .title 
              .pull-right.grayed #[i.fa.fa-dot-circle-o] 5
              span {{chart.name}}
            .desc {{chart.desc || 'check it yourself!'}}
          .labels
            .label(ng-cloak,ng-repeat="tag in chart.tags|tags") {{tag}}
          .social
            .author #[i.fa.fa-user] zbryikt
            .favorite #[i.fa.fa-heart] 15
            .used #[i.fa.fa-code-fork] 15
    br
    hr
    br
    h2.text-center My Theme
    .text-center I'm your father!
    br
    .well
      .charts
        .chart(ng-repeat="theme in themes",ng-attr-style="display:inline-block;flex:1 1 {{theme.width}}px",ng-click="load(theme)")
          .chart-img: .ib(ng-attr-style="background-image:url({{theme.thumbnail}})")
          .chart-desc
            .title
              .pull-right.grayed #[i.fa.fa-dot-circle-o] 5
              span {{theme.name}}
            .desc {{theme.desc || 'check it yourself!'}}
          .labels
            .label(ng-cloak,ng-repeat="tag in theme.tags|tags") {{tag}}
          .social
            .author #[i.fa.fa-user] zbryikt
            .favorite #[i.fa.fa-heart] 15
            .used #[i.fa.fa-code-fork] 15
    br
    hr
    br
    h2.text-center My Datasets
    .text-center there is no data
    .well
      .data-fields(ng-controller="dataFiles")
        .data-file(ng-repeat="dataset in datasets")
          .closebtn(ng-show="dataset.type.location!='sample'",ng-click="remove(dataset)")
          .title(ng-click="edit(dataset)") {{dataset.name}}
          .desc {{dataset.size|size}}, {{dataset.rows}} rows
          .data-field(ng-repeat="field in dataset.fields",ng-attr-style="background:{{dataset.color}}",ng-drag="true",ng-drag-data="field")
            span {{field.name}}
            small {{field.type}}
        //-.data-file.data-file-new
          .title add new dataset ...
        br.clearfix
      .clearfix
