extends /module/base.jade
block head
  script(type="text/javascript",src="/js/profile.js")
block body
  div(style="height: 60px")
  div(style="width:100%;height:160px;position:relative;border-bottom:2px solid #bbb")
    div(style="position:absolute;width:100%;height:100%;background:#999;background-size:contain;opacity: 0.3")
    div(style="max-width:1200px;margin:auto;position:relative;height:100%;")
      div(style="border:2px solid #444;width:100px;height:100px;border-radius:5px;background:#222;position:absolute;bottom:30px;left: 20px;overflow:hidden")
        img(ng-attr-src="{{user.data.avatar || '/assets/img/avatar.png'}}",style="width:100%;")
      div(ng-cloak,style="position:absolute;bottom:52px;left:140px;font-size:24px;letter-spacing:0.5px") {{user.data.displayname}}
      div(style="position:absolute;bottom:32px;left:140px;font-size:14px;letter-spacing:0.5px")
        span #[i.fa.fa-map-marker] Taipei, Taiwan
        span &nbsp; &nbsp;
      div.text-center(style="position:absolute;bottom:32px;right:20px;font-family:lato;font-size:20px;letter-spacing:0.3px") {{user.data.desc}}
  div(style="max-width:1200px;margin:auto",ng-controller="profile")
    div(style="font-size:1.2em;margin:15px")
      span(ng-cloak) #[i.fa.fa-area-chart] #[span#chart-number 0] Charts
      span &nbsp; &nbsp; &nbsp; &nbsp;
      span(ng-cloak) #[i.fa.fa-desktop] #[span#theme-number 0] Themes
      span &nbsp; &nbsp; &nbsp; &nbsp;
      span(ng-cloak) #[i.fa.fa-folder] #[span#dataset-number 0] Datasets
      span &nbsp; &nbsp; &nbsp; &nbsp;
      span #[i.fa.fa-comments] Speak English
      span &nbsp; &nbsp; &nbsp; &nbsp;
      span #[i.fa.fa-clock-o] Respond Quickly
      .pull-right.btn.btn-info(style="margin-top:-5px;margin-left:5px") #[i.fa.fa-envelope]
      .pull-right.btn.btn-success(style="margin-top:-5px") Request a Chart

    div(style="border-bottom:1px solid #bbb;margin: 15px 0")
    br
    hr
    h2.text-center My Charts
    .text-center You underestimate my power
    br
    div(ng-controller="userChartList"): div(ng-controller="chartList")
      include ../module/chart/widget/charts.jade

    br
    hr
    br
    //-
      h2.text-center My Theme
      .text-center I'm your father!
      br

      div(ng-controller="themeList")
        include ../module/theme/widget/themes.jade

      br
      hr
      br
      h2.text-center My Datasets
      .text-center there is no data
      br
      .well
        .data-fields(ng-controller="dataFiles")
          .data-file(ng-repeat="dataset in datasets")
            .closebtn(ng-show="dataset.type.location!='sample'",ng-click="remove(dataset)")
            .title(ng-click="edit(dataset)") {{dataset.name}}
            .desc {{dataset.size|size}}, {{dataset.rows}} rows
            .data-field(ng-repeat="field in dataset.fields",ng-attr-style="background:{{dataset.color}}",ng-drag="true",ng-drag-data="field")
              span {{field.name}}
              small {{field.type}}
          //-.data-file.data-file-new
            .title add new dataset ...
          br.clearfix
        .clearfix

  include /module/footer.jade
