extends /base.jade
block head
  script(type="text/javascript",src="/js/profile.js")
block body
  script(type="text/javascript").
    window.profileUser = !{JSON.stringify(user)};
  #root(ng-controller="profile",style="max-width:1024px;margin:auto;margin-top:80px"): #user-edit
    .well(style="background:#fcfcfc;box-shadow:0 2px 4px rgba(0,0,0,0.2)"): .ib(style="margin:20px")
      .row.headline
        .col-sm-offset-3.col-sm-9: h4 Basic Information
      .row
        .col-sm-3
          label
            | UID
            small Your Unique ID
        .col-sm-9
          input.form-control(value="{{profile.key}}",disabled)
      .row
        .col-sm-3
          label
            | Email
            small as Your Account
        .col-sm-9
          label(ng-cloak) {{profile.username}}
          .checkbox.no-select
            label
              input(type="checkbox",ng-model="profile.public_email")
              | Publicly Visible
      br
      .row
        .col-sm-3
          label
            | Avatar
            small &#62; 200 x 200 pixels
        .col-sm-9
          img.avatar(ng-attr-src="/s/avatar/{{profile.avatar || 0}}.jpg")
          | or 
          .avatar.avatar-change
            input(type="file",onchange="s=angular.element(this).scope();that=this;s.$apply(function(){s.avatar.update(that);});")
      br
      .row
        .col-sm-3
          label
            | Display Name
            small visible to anyone
        .col-sm-9
          input.form-control(type="text",ng-model="profile.displayname")
      br
      .row
        .col-sm-3
          label
            | Description
            small summary about you
        .col-sm-9
          textarea.form-control(ng-model="profile.desc")
      br
      .row
        .col-sm-offset-3.col-sm-9
          .btn.btn-default(ng-click="update()") Update
      br
      br
      br
      .row.headline
        .col-sm-offset-3.col-sm-9
          h4 Functionality
      .row
        .col-sm-3
          label Account Type
        .col-sm-9
          select.form-control.disabled(disabled)
            option Free Account
            option Advanced Account
            option Pro Account
      br
      br
      br
      .row.headline
        .col-sm-offset-3.col-sm-9
          h4 Change Password
      .row
        .col-sm-3
          label Old Password
        .col-sm-9
          input.form-control(type="password", ng-model="passwd.oldOne")
      br
      .row
        .col-sm-3
          label New Password
        .col-sm-9
          input.form-control(type="password", ng-model="passwd.newOne")
      br
      .row
        .col-sm-offset-3.col-sm-9
          .btn.btn-default(ng-click="passwd.update()") Change
  include /footer.jade
