.charts(ng-cloak)
  .chart(ng-repeat="theme in themes",ng-attr-style="display:inline-block;flex:1 1 {{theme.width}}px")
    a.chart-img(ng-attr-href="{{link(theme)}}",style="display:block")
      .ib(ng-attr-style="background-image:url({{'/s/theme/'+theme.key+'.png'}}?{{theme.modifiedtime|timestamp}})")
    .chart-desc
      a.title(ng-attr-href="{{link(theme)}}")
        //-.pull-right.grayed #[i.fa.fa-dot-circle-o] 5
        span {{theme.name}}
      .desc {{theme.description || 'check it yourself!'}}
    .labels
      .label(ng-cloak,ng-repeat="tag in theme.tags|tags") {{tag}}
    .social
      .author #[i.fa.fa-user] {{theme.ownerName}}
      .favorite #[i.fa.fa-heart] 15

