.charts(ng-cloak)
  .chart(ng-repeat="theme in themes",ng-attr-style="display:inline-block;flex:1 1 {{theme.width}}px")
    a.chart-img(ng-attr-href="{{link(theme)}}",style="display:block")
      .ib(ng-attr-style="background-image:url({{'/s/theme/'+theme.key+'.png'}}?{{theme.modifiedtime|timestamp}})")
    .chart-desc
      a.title(ng-attr-href="{{link(theme)}}")
        //-.pull-right.grayed #[i.fa.fa-dot-circle-o] 5
        span {{theme.name}}
      .desc {{theme.description || 'check it yourself!'}}
    .social
      a.author(ng-attr-href="/user/{{theme.owner}}") #[i.fa.fa-user] {{theme.ownername}}
      //-.favorite(ng-click="like(theme)",
         ng-class="{'active':user.data && theme.liked}") #[i.fa.fa-heart] {{theme.likes || 0}}

  .flexend
  #list-end.text-center: span(ng-cloak,ng-show="paging.end")
    br
    br
    span this is the end :)
  .loader.alone.sm.block-center(ng-cloak,ng-class="{'loading':paging.loading && !paging.end}")
