extends /base.jade
block vars
  - var rootid = "themeview"
  - var title = 'My Themes / PlotDB'
  - var url = "https://plotdb.com/theme/me/"
block head
block body
  .spc1
  .page-header: .inner
    .title My Themes
    .desc customize all your visualization with themes.
  #root.narrow.with-header
    div(ng-controller="themeList")
      div(ng-show='themes.length>0 || loading')
        include ../widget/themes.jade
      .loader.alone.loading.block-center.lg(ng-class="{'loading': loading}",ng-show='loading')
      div(ng-cloak,ng-show="themes.length==0 && !loading")
        br
        br
        br
        .text-center looks like you don't have any themes yet... why not create one now? #[i.fa.fa-smile-o]
        br
        .text-center: a.btn.btn-primary(href="/theme/") Create Theme
        br
        br
        br
  include ../../footer.jade
