extends /base.jade
block vars
  - var rootid = "themeview"
  - var title = 'My Themes / PlotDB'
  - var url = "http://plotdb.com/theme/me/"
block head
block body
  .spc1
  .page-header: .inner
    .title My Themes
    .desc 35 public themes available for re-user.
  #root.narrow.with-header
    div(ng-controller="themeList")
      include ../widget/themes.jade
      .loader.alone.loading.block-center.lg(ng-class="{'loading': loading}")
      div(ng-cloak,ng-show="themes.length==0 && !loading")
        br
        br
        br
        .text-center looks like you don't have any charts yet... why not fork from #[a(href="/chart/explore") one]? #[i.fa.fa-smile-o]
        br
        br
        br
  include ../../footer.jade
