extends /base.jade
block vars
  - var rootid = "landview"
  - var title = 'PlotDB: Share Visualizations with Everyone'
  - var description = "Create, share and request visualizations online."
  - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
  - var thumbtype = "image/png"
  - var url = "https://plotdb.com/"
block head
block body
  div(ng-cloak)
    div(ng-if="lang=='en'")
      .spc1
      br
      br
      br

      #root.narrow.with-header.simple
        h1 Contact
        p For any suggestion or question, please contact
        blockquote tkirby@plotdb.com
        br
        h3 Questions about Payment 
        p PlotDB Ltd. is the service provider for following websites:
        ul
          li #[a(href="https://loading.io/") loading.io] - Online Service for Making Your Own Animated Icons 
          li #[a(href="https://makebackground.io") makebackground.io] - Live Background / Wallpaper Generation Service
          li #[a(href="https://maketext.io") maketext.io] - SVG Cool Text Effect Service
        p When you make payments in above sites, you'll see things like "PlotDB Ltd. Taipei City" in your bill. If you are not sure about the payment, just contact us directly and we are glad to help.

    div(ng-if="lang=='zh'")
      .spc1
      .page-header.simple: .inner
        .title 建議與聯繫
        .desc 您的意見讓我們做得更好
      #root.narrow.with-header.simple
        p 想要進一步了解企業方案嗎？有任何關於產品的意見？需要量身訂作一個視覺化？歡迎直接來信與我們聯系：
        blockquote tkirby@plotdb.com
        p 感謝您對 PlotDB 的支持 :)
        p Kirby
        p PlotDB 創辦人

  include /footer.jade
