mainbg = #181818
mainfg = #d8d8d8
linebg = #282828
linefg = #565858
barbg = #383838
barfg = #b8b8b8
buttonbg = #484848
buttonborder = #585858
buttonfg = #b8b8b8

d1 = #222
d2 = #292929
d3 = #333

#code-panel
  margin-top: 15px

#code-editor.dark
  border: 1px solid d2
  .CodeMirror
    background: mainbg
    color: mainfg
    .cm-string
      color: #f99
    .cm-number
      color: #9f9
    .cm-keyword
      color: #f9f
    .cm-def
      color: #99f
    .cm-property
      color: #9cf
  #code-header
    background: barbg
    border-bottom: 1px solid d2
    color: barfg
    .tabs span
      color: #777
      i
        background: #444
    .tabs span.active, .tabs span:hover
      color: #fff
      i
        background: #777
  #code-ctrl
    background: barbg
    color: barfg
    border-top: 1px solid d2
  .CodeMirror-linenumber
    color: linefg
  .CodeMirror-linenumbers
    background: linebg
  .btn
    background: buttonbg
    color: buttonfg
    border: 1px solid buttonborder
  .CodeMirror-cursor
    border-left: 1px solid #4f4
  .CodeMirror-code > .error
    background: #a11
    .CodeMirror-linenumber
      color: #fff
      background: #810

#code-editor #code-inherit.box.active
  z-index: index(order, 'edit-box-mask')
  background: #fff
  opacity: 0.93

.charts-dropdown-menu
  left: -60px
  height: 230px
  overflow-y: scroll

.chart-config-range div.form-control
  padding: 0
  margin: 0
  border: 0
  position: relative
  input
    width: 50%
    text-align: center
    &:first-child
      border-right: 2px solid #fff
  span
    position: absolute
    top: 50%
    left: 50%
    z-index: index(order, 'chart-configs') + 1
    padding: 5px
    border-radius: 50%
    color: #bbb
    background: #fff
    height: 20px
    width: 20px
    line-height: 10px
    font-size: 12px
    margin: -10px 0 0 -10px

#chart-edit-iframe-config
  .checkbox
    display: inline-block
    margin: 0 0 0 10px
  input.input-sm
    height: 20px
    width: 60px
    display: inline-block

.download-options
  .fa-warning
    color: #f20
    margin-left: 5px
  .label
    float: right
    margin-top: 2px
  .label, .fa-warning, .link
    display: none
  li.failed
    img
      display: none
    .fa-warning
      display: inline-block
  li.ready
    .pending
      display: none
    .link
      display: block
  li.needpro
    img
      display: none
    .label
      display: inline

@media(max-width: 800px)
  .pleditor
    .row
      margin: 0
  #code-panel
    margin-top: 0
  #code-editor, #visualization-canvas2
    margin: 7px
    height: 400px
  #binding-panel
    margin: 420px 15px 0
  #code-ctrl, #visualization-canvas2
    & > .btn
      display: none
    .btn
      padding-left: 5px
      padding-right: 5px
      font-size: 0.9em
  #editor-colorblind-dropup
    left: 5px!important

@import 'annotate'
