@import '../vars'
@import '../basic'

.panel-heading, .panel-footer
  padding-top: 5px
.panel-body
  min-height: 400px
.panel-footer
  padding-right: 5px
  padding-bottom: 5px

#chart-edit-iframe-config
  .checkbox
    display: inline-block
    margin: 0 0 0 10px
  input.input-sm
    height: 20px
    width: 60px
    display: inline-block

@import share
@import permission

.nav-tabs > li > a
  padding-top: 5px
  padding-bottom: 5px

