#share-buttons i.fa
  margin: 0 5px
  cursor: pointer
  display: inline-block
  transition(opacity 0.5s ease-in-out)
  font-size: 24px
  &:hover
    position: relative
    top: -1px
    text-shadow: 0 2px 2px rgba(0,0,0,0.2)

#share-buttons.disabled i.fa
  opacity: 0.2
  cursor: not-allowed

