extends /base.jade
block vars
  - var rootid = "paletteview"
  - var title = 'Palette Editor / PlotDB'
  - var description = "Your Only Color Picker for Data Visualization."
  - var url = "https://plotdb.com/palette/editor.html"
  - var thumbnail = "https://plotdb.com/assets/img/palette/thumbnail.jpg"
  - var thumbtype = "image/jpeg"
  - var thumb_width = "1200"
  - var thumb_height = "630"
block head
  script(type="text/javascript",src="/js/chart/plotd3.js")
  script(type="text/javascript",src="/js/palette/index.js")
block body
  include ../colorblind.jade
  //- add this:
  //- https://web.cw.com.tw/static/taiwan-swing-districts/index.html
  .spc1
  .page-header(style="height:124px"): .inner
    .title Showcase
    p Let's see who and how they use PlotDB.
  #root.narrow.with-header(style="margin-top:0;padding-top:60px")
    #land-show
      .ib
        .row
          .col-sm-5
            .thumb(style="background-image:url(/assets/img/land/showcase/reporter.jpg);background-color:#fff")
          .col-sm-5
            h3.text-center #[img(src="/assets/img/land/showcase/reporter-logo.png")] The Reporter
            p the Reporter, a NPO by the Reporter Foundation, used PlotDB in their stories about Rio 2016 Olympic and foreign worker issues, etc.
            .pull-right: a(href="https://www.twreporter.org/a/olympic-2016/athletics/",target="_blank") view full story
        hr
        .row
          .col-sm-5
            .thumb(style="background-image:url(/assets/img/land/showcase/thenewslens.png);background-color:#dedee0")
          .col-sm-5
            h3.text-center #[img(src="/assets/img/land/showcase/thenewslens-logo.png")] The News Lens
            p Instead of embeding live content, The News Lens used PlotDB to generate base chart which cannot be hand-crafted easily, then edit with Adobe Illustrator to produce production-ready graphic assets.
            .pull-right: a(href="https://www.thenewslens.com/article/50311",target="_blank") view full story
        hr
        .row
          .col-sm-5
            .thumb(style="background-image:url(/assets/img/land/showcase/gvm.gif);background-color:#fff")
          .col-sm-5
            h3.text-center #[img(src="/assets/img/land/showcase/gvm-logo.png")] Global Views Monthly
            p Global Views Monthly used charts including a multiple line chart, parallel bar chart and a interactive bubble chart to show the impact of climate change to fruit production in Taiwan.
            .pull-right: a(href="https://www.gvm.com.tw/event/201702_climate/",target="_blank") view full story
        hr
        .row
          .col-sm-5
            .thumb(style="background-image:url(/assets/img/land/showcase/newsmarket.gif);background-color:#fff")
          .col-sm-5
            h3.text-center #[img(src="/assets/img/land/showcase/newsmarket-logo.png")] News & Market
            p News & Market coworked with developer on PlotDB platform to build an animated area chart which visualizes temperature variation during goods delivery of cold chain service vividly.
            .pull-right: a(href="http://coldchain.newsmarket.tw",target="_blank") view full story
        hr
    br

  include ../footer.jade

