#notifications {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 31;
}
.notify {
  border-radius: 2px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  padding: 8px 16px;
  margin-top: 5px;
}
.closebtn {
  position: relative;
  border-radius: 50%;
  background: #444;
  color: #fff;
  width: 15px;
  height: 15px;
  font-size: 12px;
  padding: 0;
  line-height: 14px;
  text-align: center;
  float: right;
  margin: -2px -2px 0 0;
  cursor: pointer;
  z-index: 14;
}
.closebtn:after {
  content: "\0000d7";
  display: inline;
}
.closebtn.inner {
  position: absolute;
  top: 4px;
  right: 4px;
}
.closebtn.outer {
  position: absolute;
  top: -4px;
  right: -4px;
}
li.disabled a {
  cursor: not-allowed;
  opacity: 0.5;
}
li.disabled a:hover {
  background: initial;
}
.dropdown-menu > li > a > small {
  opacity: 0.7;
}
.grayed {
  color: rgba(0,0,0,0.5);
}
.dropdown-menu > li > a {
  cursor: pointer;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: #ed1d78;
  color: #fff;
}
width: 100%;
@-webkit-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes jump {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  25% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  37.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  50% {
    -ms-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px);
  }
  62.5% {
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  75% {
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -webkit-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  90% {
    -ms-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  100% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#alertbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 30;
}
#alertbox .ib {
  position: relative;
  width: 400px;
  height: 110px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border-radius: 2px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}
#alertbox .ib .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: right;
}
.checkbox {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn.loader {
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}
.btn.loader:after {
  position: absolute;
  right: 10px;
  top: 0;
  content: " ";
  display: none;
  width: 20px;
  height: 100%;
  background: url("/assets/img/loading.gif") center center no-repeat;
  float: right;
}
.btn.btn-danger.loader:after {
  background: url("/assets/img/loading-danger.gif") center center no-repeat;
}
.btn.loader.loading:after {
  display: block;
}
.margin-break {
  display: block;
  content: " ";
  visibility: hidden;
  width: 0;
  height: 0;
}
.sep {
  border-top: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  margin: 7px auto;
  height: 0;
}
.sep.nogap {
  margin: 0 auto;
}
.sep.dark {
  border-top: 1px solid rgba(0,0,0,0.4);
}
.sep.light {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.sep.break {
  margin: 15px auto 35px;
}
.sticked {
  position: fixed;
}
a.dropdown-toggle {
  cursor: pointer;
}
.progress {
  background: #d5d3d0;
}
.progress .progress-bar {
  max-width: 100%;
  min-width: 2%;
}
.progress span {
  margin-left: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#root.narrow {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.entries .entry {
  min-width: 60px;
  display: inline-block;
  margin-right: 25px;
}
.entries .entry i.fa {
  margin-right: 6px;
}
.clickable {
  cursor: pointer;
}
.relpos {
  position: relative;
}
.abspos {
  position: absolute;
}
.fixpos {
  position: fixed;
}
.panel {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.panel > .panel-body > h3:first-of-type {
  margin-top: 0;
}
