.label.label-light {
  font-weight: 200;
}
.charts {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.chart {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 10px;
  width: 360px;
  min-height: 320px;
  padding-bottom: 37px;
  -webkit-flex: 1 1 320px;
  flex: 1 1 320px;
  background: #faf9f8;
  overflow: hidden;
}
.chart:hover .chart-img .ib {
  background-size: initial;
}
.chart .chart-img {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 240px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 5px;
  background: #fff;
}
.chart .chart-img .ib {
  width: 100%;
  height: 100%;
  background: #fff no-repeat center center;
  background-size: cover;
}
.chart .chart-desc {
  margin: 5px 10px;
}
.chart .chart-desc .title {
  margin: 5px 0 2px;
  font-size: 1.2em;
  font-family: arial #000;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  cursor: pointer;
}
.chart .chart-desc .desc {
  margin: 0;
  font-size: 1em;
}
.chart .labels {
  margin: 0 10px 5px;
}
.chart .labels .label {
  padding: 1px 6px 2px;
  color: #fff;
  background-color: #aaa;
  margin-right: 5px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 12px;
  text-shadow: 0 0px 1px rgba(0,0,0,0.2);
}
.chart .social {
  position: absolute;
  width: 100%;
  padding: 7px 13px;
  border-top: 1px dashed #e0e0e0;
  font-size: 0.8em;
  bottom: 0;
}
.chart .social i.fa {
  font-size: 1.2em;
}
.chart .social .favorite {
  cursor: pointer;
  display: inline-block;
}
.chart .social .favorite.active {
  color: #e36;
}
.chart .social .used {
  display: inline-block;
  margin-left: 20px;
}
.chart .social .author {
  float: right;
  color: #666;
  cursor: pointer;
}
.flexend {
  opacity: 0;
  -webkit-flex: 8 8 auto !important;
  flex: 8 8 auto !important;
}
#chart-modal {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: rgba(0,0,0,0.8);
  padding: 20px 20px 80px 20px;
}
#chart-modal .inner {
  width: 80%;
  max-width: 1024px;
  background: #fff;
  height: 100%;
  margin: auto;
  border: 1px solid #999;
}
.data-field {
  font-size: 14px;
  padding: 8px 8px;
  background: #ade;
  border-radius: 3px;
  margin: 5px;
  cursor: move;
  color: #421;
  z-index: 12;
  position: relative;
}
.data-field span {
  width: 100%;
  display: inline-block;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.data-field small {
  display: block;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}
.data-field .fa-close {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -6px;
  color: #444;
  cursor: pointer;
}
#binding-panel {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
}
.dimensions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dimensions .dimension {
  width: 32%;
  min-height: 160px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border: 1px solid #ccc;
  display: block;
  margin: 0.66%;
  padding: 10px;
  z-index: 10;
  position: relative;
}
.dimensions .dimension .require {
  display: block;
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 1.2em;
  color: #f99;
}
.dimensions .dimension .title {
  font-weight: bold;
  font-size: 1.2em;
}
.dimensions .dimension .desc {
  color: #999;
  font-size: 0.95em;
}
.dimensions .dimension.drag-enter:after {
  content: "Drag Here";
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px dashed #ccc;
  color: #ccc;
  padding: 5px;
  margin: 5px 0;
}
#code-panel {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  position: relative;
  width: 100%;
}
#code-panel #code-tabs {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  z-index: 7;
  position: relative;
  overflow: hidden;
}
#code-panel #code-tabs .tab {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  width: 120px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin: -1px 0 0 -1px;
  cursor: pointer;
}
#code-panel #code-tabs .tab .desc span:after {
  content: ", ";
  display: inline;
}
#code-panel #code-tabs .tab .desc span:last-of-type:after,
#code-panel #code-tabs .tab .desc span:first-of-type:after {
  content: "";
}
#code-panel #code-tabs .tab.active {
  position: relative;
}
#code-panel #code-tabs .tab.active:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f00;
}
#code-panel #code-tabs .tab.active:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 10px;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
#code-panel #code-tabs .tab div:nth-of-type(1) span {
  font-weight: bold;
}
#code-panel #code-tabs .tab div:nth-of-type(1) small {
  color: #777;
  opacity: 0.8;
  font-size: 10px;
  font-weight: light;
}
#code-panel #code-tabs .tab div:nth-of-type(2) {
  font-size: 12px;
  color: #444;
}
#code-panel #code-tabs .tab.cat {
  width: 45px;
}
#code-panel #code-tabs .tab {
  z-index: 9;
  position: relative;
}
#code-panel #code-tabs .tab.action {
  text-align: center;
  padding: 8px 0 4px;
  width: 60px;
  color: #444;
}
#code-panel #code-tabs .tab.action i.fa {
  font-size: 25px;
  display: block;
}
#code-panel #code-tabs .tab.action span {
  font-size: 12px;
  font-weight: bold;
}
#code-panel #code-tabs .tab.src {
  left: -500px;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 8;
}
#code-panel #code-tabs .tab.src.shown {
  position: relative;
  left: 0;
}
#code-header {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 5px;
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#code-header .tabs span {
  width: 0;
  opacity: 0;
  -ms-transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, width 0.1s ease-in-out;
  display: inline-block;
  height: 21px;
  overflow: hidden;
  font-size: 14px;
  margin-right: 0;
  color: #bbb;
  cursor: pointer;
}
#code-header .tabs span i {
  font-size: 13px;
  padding: 4px;
  border-radius: 4px;
  background: #ddd;
  color: #fff;
  width: 21px;
  height: 21px;
  text-align: center;
}
#code-header .tabs span.active,
#code-header .tabs span:hover {
  color: #333;
}
#code-header .tabs span.active i,
#code-header .tabs span:hover i {
  color: #fff;
  background: #333;
}
#code-header.fullscreen .tabs span,
#code-header .tabs span.active {
  width: 100px;
  opacity: 1;
  margin-right: 20px;
}
#code-ctrl {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  padding: 6px;
  background: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1);
  text-align: right;
}
#code-editor {
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: absolute;
  border: 1px solid #ddd;
  margin-top: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}
#code-editor .box {
  width: 100%;
  height: 100%;
  padding: 32px 0 48px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  opacity: 0.01;
}
#code-editor .box.active {
  z-index: 5;
  opacity: 1;
}
#code-editor .CodeMirror {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.CodeMirror-code > .error {
  background: #fb9;
}
.CodeMirror-code > .error .CodeMirror-linenumber {
  color: #fff;
  background: #e64;
}
#code-editor-assets {
  background: #fff;
}
#code-editor-assets.box {
  padding-top: 37px;
  padding-left: 3px;
}
.data-file-new {
  text-align: center;
  color: #ccc;
  cursor: pointer;
  border-style: dashed;
}
#code-panel.mini {
  height: 60px;
}
#code-panel.mini .CodeMirror,
#code-panel.mini #code-ctrl {
  display: none;
}
#code-panel.mini #code-tabs .tab.active {
  top: 0;
}
#code-panel.mini #code-tabs .tab.active:after {
  display: none;
}
#visualization-canvas {
  width: 60%;
  height: 600px;
  position: absolute;
  top: 59px;
  right: 0;
  background: #fff;
}
.plpanel {
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  width: 100%;
  margin: 15px 0 10px;
  height: 500px;
}
#config-panel {
  position: relative;
  background: #fff;
}
#chart-settings {
  position: relative;
  background: #fff;
  padding: 10px;
  z-index: 19;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
#chart-desc-input {
  max-width: 100%;
  max-height: 60px;
}
#chart-configs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 186px 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}
#chart-configs .ib {
  width: 100%;
}
#visualization-canvas2 {
  margin: 15px 0 0;
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  padding-bottom: 45px;
  background: #f9f9f9;
  opacity: 0.01;
}
#visualization-canvas2 .btn-group {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#visualization-canvas2 iframe {
  border-bottom: 1px solid #ddd;
}
#visualization-canvas2 .closebtn {
  display: none;
}
#code-editor.fullscreen,
#visualization-canvas2.fullscreen {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  margin: 0;
}
#code-editor.fullscreen .closebtn,
#visualization-canvas2.fullscreen .closebtn {
  display: block;
}
#code-editor.active {
  z-index: 17;
}
#visualization-canvas2.active {
  z-index: 17;
  opacity: 1;
}
#code-editor.fullscreen {
  z-index: 24;
}
#visualization-canvas2.fullscreen {
  z-index: 24;
}
#code-editor.fullscreen.active {
  z-index: 25;
}
#visualization-canvas2.fullscreen.active {
  z-index: 25;
}
#fullscreen-dimmer {
  display: none;
}
#fullscreen-dimmer.fullscreen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  background: rgba(0,0,0,0.5);
}
#code-error {
  position: absolute;
  white-space: pre;
  bottom: -507px;
  left: 7px;
  background: #fff;
  border: 1px solid #f96;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  color: #900;
  z-index: 18;
  overflow: scroll;
  width: 50%;
}
#code-error.fullscreen {
  z-index: 26;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.chart-config .input-group > span,
.chart-config .btn-group > span {
  width: 90px;
  display: table-cell;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
}
.chart-config .btn-group {
  display: table;
  width: 100%;
}
.chart-config .btn-group > .btn {
  display: table-cell;
}
.chart-config .btn-group .dropdown .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.chart-config .btn-group .dropdown .fa-caret-down {
  line-height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  float: right;
}
.chart-config .btn-group .btn {
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f4f4f4 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #f4f4f4 100%);
  background: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 )";
}
.chart-config {
  margin-bottom: 5px;
}
.chart-config .input-group {
  width: 100%;
}
#chart-action {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}
#chart-action .btn {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
#chart-action .dropdown .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#data-create-modal {
  clear: both;
  padding-top: 20px;
}
small.hint {
  font-size: 0.9rem;
  opacity: 0.8;
}
.btn {
  border-radius: 2px;
}
.ldColorPicker.bubble {
  z-index: 23;
}
.file {
  position: relative;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  background: #fff;
  display: inline-block;
  width: 160px;
  height: 57px;
  vertical-align: middle;
}
.file.uploader {
  text-align: center;
  line-height: 45px;
  color: #999;
  cursor: pointer;
  box-shadow: none;
  border-style: dashed;
}
.file input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  cursor: pointer;
}
.file .title {
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.file .type {
  color: #999;
  font-size: 0.9em;
}
.file .type .pull-right {
  line-height: 20px;
  position: absolute;
  right: 10px;
}
.file .type i {
  display: inline-block;
  width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#assets-preview {
  position: fixed;
  z-index: 29;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
#assets-preview .ib {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 2px;
}
#assets-preview .iframe,
#assets-preview iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#share-buttons i.fa {
  margin: 0 10px;
  cursor: pointer;
  display: inline-block;
  -ms-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#share-buttons i.fa:hover {
  position: relative;
  top: -1px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
#share-buttons.disabled i.fa {
  opacity: 0.2;
  cursor: not-allowed;
}
#permission-modal,
#setting-modal,
#data-edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 27;
}
#permission-modal .ib,
#setting-modal .ib,
#data-edit-modal .ib,
#setting-modal-inner .ib {
  width: 640px;
  height: 530px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.5);
  padding: 10px;
  margin: 70px auto 0;
  position: relative;
}
#permission-modal h3,
#setting-modal h3,
#data-edit-modal h3,
#setting-modal-inner h3 {
  margin: 0;
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #eee;
}
#permission-modal .save-hint-btn,
#setting-modal .save-hint-btn,
#data-edit-modal .save-hint-btn,
#setting-modal-inner .save-hint-btn {
  margin-right: 5px;
}
#permission-modal .save-hint-btn.btn-warning,
#setting-modal .save-hint-btn.btn-warning,
#data-edit-modal .save-hint-btn.btn-warning,
#setting-modal-inner .save-hint-btn.btn-warning {
  -ms-animation: jump 1s infinite linear;
  -moz-animation: jump 1s infinite linear;
  -webkit-animation: jump 1s infinite linear;
  -o-animation: jump 1s infinite linear;
  animation: jump 1s infinite linear;
}
#data-edit-modal .ib {
  width: 90%;
  height: 580px;
}
#setting-modal-inner .ib {
  height: auto;
  z-index: 28;
  position: absolute;
  left: 50%;
  margin-left: -320px;
}
#field-agent {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  opacity: 0.01;
  margin-left: 20px;
}
#field-agent.dragging {
  opacity: 1;
}
#datamap-hint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  z-index: 13;
}
#datamap-hint p {
  margin-top: 70px;
}
#datamap-hint.step2 {
  background: none;
  font-size: 11px;
  left: -44px;
  width: 100px;
}
#datamap-hint.step2 p:last-of-type {
  background: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 50%;
  text-shadow: none;
  margin-left: 12px;
  text-align: center;
  border: 1px solid #ccc;
  height: 45px;
  width: 45px;
}
.dropdown-menu > .active > a {
  color: #fff;
  background: #ed1d78;
}
