.panel.panel-default(style="width:500px;margin:auto")
  .panel-heading #[i.fa.fa-users] create team
  .panel-body
    div(ng-class="{'has-error':error.name}")
      label.control-label Team Name
      input.form-control(type="text",ng-model="team.name",placeholder="give your team a name, e.g.: The Avengers")
    br
    label What's your team about?
    textarea.form-control(ng-model="team.description", placeholder="tell us more about your team.")
    br
    label Add some team members
    div: select.form-control(ngselect2,ng-data="members",type="user",multiple="multiple")
    br
    label team avatar
    small.grayed  ( suggest: 200 x 200 px )
    .avatar-upload
      .avatar-current(ng-cloak,ng-show="team.avatar",
      ng-attr-style="background-image:url(/s/avatar/{{team.avatar}}.jpg)")
      .avatar-current(ng-show="!team.avatar")
      | or 
      .avatar-upload-btn(ng-attr-style="background-image: url({{avatar.preview}})",
      ng-class="{'active':avatar.preview}"): input(type="file",ngfile,ng-data="avatar.files")

  .panel-footer.text-right
    .btn.btn-success.btn-sm(ng-click="save()") OK
    span &nbsp;
    .btn.btn-default.btn-sm(ng-click="dismiss()") Cancel
