extends /base.jade
block vars
  - var rootid = "landview"
  - var title = 'PlotDB: Share Visualizations with Everyone'
  - var description = "Create, share and request visualizations online."
  - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
  - var thumbtype = "image/png"
  - var url = "https://plotdb.com/"
block head
  style(type="text/css").
    body { font-weight: 200 }
    h1,h2,h3,h4 { margin: 2em 0 .5em}
    h1 { font-size: 2.5em }
    h2 { font-size: 2em }
    h3 { font-size: 1.5em }
    h4 { font-size: 1.25em }
block body
  .spc1
  #root.simple(style="width:800px;margin:0 auto;font-size:20px;")
    h1(style="font-weight:bold;margin-top:1em") Privacy Policy
    div(style="border-bottom:1px solid #bbb;margin-bottom:1.5em")
    h2#pp-collect(style="margin-top:0") Data Collection
    p when you use this service, this service will automatically collect and store the data generated from your interaction with this service, including the term you search, your browse history in this site, the link you click, the device you use and your location information, etc.

    h3 Personal Information
    p We also keep information you provided when you register in this service, including your email address as your account, your preferred display name, and store them in your personal account.
    p If you sign in with 3rd party services like Facebook or Google, we'll also retrieve basic informations provided by these service, including your preferred avatar, which could also be collected when you manually upload it in the settings page.
    p When you contact us, we will keep your call record and email contact to help you resolve any issues you encountered.
    p When you make a purchase or subscription, we will keep some transaction details, including your IP address, basic payer information. We will never store your credit card number in our database, except the last four digits of credit card number for you to identify the card you used last time.
    p Additionally, your password will be encrypted with enough strength automatically by this service before we store it in the database. Thus, we will never know your password.

    h3 Cookies
    p We and our partners ( including Google, Facebook, Disqus and Carbon Ads ) uses cookies to identify your browser and device.

    h3 Assets
    p You can save your assets, including images, configurations, settings and designs in this service when you explicitly click the save button. We keep these data with in our database, associated with your account for you to access.

    h2#pp-usage Data Usage
    p Data collected will be used to provide, maintain and improve this service, and to develop new services or protect this service and its users. We will also use these data to provide you personalized content.

    h3 Personal Information
    p We will use you email to send notifications to you about the change or update of this service. Your email will also be used to identify your account, and help you to reset password when you lost it. We also use your email to send marketing and product promotion information, but only when you subscribe our newsletter when signing up or in the settings.
    p Your display name will be visible to others along with your public assets.

    h3 Cookies
    p Cookie will be used to identify your account and improve the quality of this service, such as, remember who you are and your settings as a default when you visit this service next time.
    p We use Google analytics, which uses cookies to track traffic from you to help us get feedback from behavior of our users. Additionally, your IP address will be anonymized before tracking.

    h3 Assets
    p When saved, your assets, including customized configuration and uploaded images, will be public and used as showcases for other users to see how you customize your assets.

    h2#pp-sharing Data Sharing
    p Your collected data will be stored, analyzed or processed by this service, or the 3rd party service that we trusted for provide better service to our users.

    h3 Personal Information
    p We won't share or reveal your personal information with 3rd party except following situation:
    ul
      li approved by you
      li requested due to legal reason
      li for processing - data will be sent to trusted organizations or people to help us process, manage or analysis under our instruction.
    p Your ID in this service ( a random key which could be found in your profile page ) will be provided to Google Analytics to help us to improve this service for you by knowing more about your behavior in our service.

    h3 Assets
    p Your assets, including loaders, spinners, palettes and buttons, will by default be public and can be viewed by other users when saved explicitly. We provide a personal profile for each user that shows their saved assets.

    h2#pp-delete Data Deletion
    p You can contact us directly by email ( contact@plotdb.com ) to request a data deletion, including your account, all your personal information and saved assets.

    h2#pp-modification Modification
    p This privacy policy is probably going to br updated frequently in the future. If a update of this privacy policy is made, there will be a notification for you when you access this service, and the update will also be published here in this page.
    p Modification history will also be available as a link in this page. You can check each revision of our privacy policy at any time.

  .sep.my-4
  .text-center.text-muted End of Document



  include /footer.jade
