extends /base.jade
block vars
  - var rootid = "chartview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.com/"
block head
block body
  .spc1
  .page-header: .inner
    .title My Charts
    .desc 35 public charts available for re-user.
  #root.narrow.with-header
    div(ng-controller="userChartList"): div(ng-controller="chartList")
      div(style="height:52px")
      #chart-filter.scroll-stick(data-top="75")
        include ../widget/search.jade
      include ../widget/charts.jade
      .loader.alone.loading.block-center.lg(ng-class="{'loading': loading}")
      div(ng-cloak,ng-show="charts.length==0 && !loading")
        br
        br
        br
        .text-center looks like you don't have any charts yet... why not fork from #[a(href="/chart/explore") one]? #[i.fa.fa-smile-o]
        br
        br
        br
  include ../../footer.jade
