@import '../vars'
@import '../basic'

.team-ctrl-panel
  max-width: 1200px
  margin: -65px auto 0

.team-item
  background: #fff
  margin: 0 0 20px
  padding: 10px
  border-radius: 3px
  box-shadow: 0 1px 3px rgba(0,0,0,0.1)
  .avatar
    display: inline-block
    vertical-align: top
    margin-right: 10px
.team-desc
  display: inline-block
  vertical-align: top

.team-member, .team-chart
  width: 128px
  height: 100px
  display: inline-block
  vertical-align: top
  text-align: center
  .avatar
    margin: 0 auto 5px

.team-chart
  width: 180px
  .avatar
    width: 160px
    height: 100px
    border: 1px solid #ccc
.team-members.compact .team-member
  width: 32px
  height: 24px
