//-
  h3 Settings
  br
  ul.nav.nav-tabs
    li.clickable(ng-class="{'active': settingPanel.tab == 0}",ng-click="settingPanel.tab=0"): a General
    li.clickable(ng-class="{'active': settingPanel.tab == 1}",ng-show="type=='chart'",
    ng-click="settingPanel.tab=1"): a Library
  div(ng-show="settingPanel.tab == 0",style="width: 80%;margin:auto")
    br

  .pull-right(ng-cloak,ng-show="target().parent")
    span derived from 
    //TODO fetch parent name
    a(ng-attr-href="/{{type}}/{{target().parent}}",target="_blank") {{target().parent}}
  label Name
  input.form-control(placeholder="Name", ng-model="target().name")
  br
  label Descriptiont
  textarea.form-control(placeholder="Description", ng-model="target().description",rows="3")
  br

.pull-right(ng-cloak,ng-show="target().parent")
  span derived from 
  //TODO fetch parent name
  a(ng-attr-href="/{{type}}/{{target().parent}}",target="_blank") {{target().parent}}
label Base Chart Type
div: select#chart-setting-type.form-control(multiple="multiple",
ngselect2,ng-data="settingPanel.chart.basetype")
  option(value="1") Bar Chart
  option(value="2") Line Chart
  option(value="3") Pie Chart
  option(value="4") Area Chart
  option(value="5") Bubble Chart
  option(value="6") Radial Chart
  option(value="7") Calendar
  option(value="8") Treemap
  option(value="9") Map
  option(value="10") Cartogram
  option(value="11") Heatmap
  option(value="12") Sankey
  option(value="13") Venn Diagram
  option(value="14") Word Cloud
  option(value="15") Timeline
  option(value="16") Mixed
  option(value="17") Pictogram
  option(value="18") Scatter Plot
  option(value="99") Other
br
label Visual Encoding
div: select#chart-setting-encoding.form-control(multiple="multiple",
ngselect2,ng-data="settingPanel.chart.visualencoding")
  option(value="1") Position
  option(value="2") Position ( Non-aligned )
  option(value="3") Length
  option(value="4") Direction
  option(value="5") Angle
  option(value="6") Area
  option(value="7") Volume
  option(value="8") Curvature
  option(value="9") Shade
  option(value="10") Saturation
  option(value="99") Other
br
label Chart Category
div: select#chart-setting-category.form-control(multiple="multiple",
ngselect2,ng-data="settingPanel.chart.category")
  option(value="1") Infographics
  option(value="2") Geographics
  option(value="4") Journalism
  option(value="5") Statistics
  option(value="6") Business
  option(value="99") Other
br
label Tags
div: select#editor-setting-tags.form-control(multiple="multiple",
ngselect2,ng-data="settingPanel.chart.tags",istag="true",
placeholder="comma separated values, like 'population,economics'")
br
//-label Backups
div(ng-cloak,ng-show="backup.list.length")
  | backuped at {{backup.last.timestamp|date}}.&nbsp;
  a(href="#",ng-click="backup.recover()") Recover
p.grayed(ng-cloak,ng-show="!backup.list.length") No backup found.

//-.btn.btn-default(ng-click="clone()") Make a copy
//-
  .pull-right
    .save-hint-btn.btn.btn-default.loader(ng-disabled="!target().name",ng-click="save()",
    ng-class="{'loading':save.handle}")
      +SaveFork
    .btn.btn-default(ng-click="settingPanel.toggle()") Close


