//- Dependency can be maintained by order for now.
select.form-control(multiple="multiple",ngselect2,ng-data="settingPanel.chart.library")
  option(value="plotdb/0.0.1") PlotDB 0.0.1
  option(value='d3/3.5.12/min') d3js 3.5.12
  option(value='d3/4.1.1/min') d3js 4.1.1
  option(value='plotd3/0.1.0') plotd3 0.1.0
  option(value='moment/2.14.1') moment 2.14.1
  option(value="worldmap/0.1.0") worldmap 0.1.0
  option(value="taiwan-mrt/0.0.1") Taiwan MRT Map 0.0.1
  option(value="taiwanmap/0.0.1") Taiwan Map 0.0.1
  option(value="topojson/1.6.24/min") topojson 1.6.24
  option(value="voronoijs/0.0.1/min") voronoijs 0.0.1
  option(value="d3.geo.projection/0.2.16/min") d3.geo.projection 0.2.16
  option(value="pixijs/4.0.0/min") pixi.js 4.0.0
  option(value="regl/1.2.1/min") regl 1.2.1
  option(value="angularjs/1.3.15/min") angularjs 1.3.15
  option(value="usmap/0.0.1") US Map 0.0.1
  option(value="showdown/1.5.0/min") Showdown 1.5.0
  option(value="mapboxjs/3.0.1") MapboxJS 3.0.1
  option(value="smooth-scroll/10.2.1/min") Smooth Scroll 10.2.1
  option(value="jquery/3.1.1/min") jQuery 3.1.1
  option(value="sticky-kit/1.1.2/min") Sticky Kit 1.1.2
  include d3module.jade
