//- Dependency can be maintained by order for now.
select.form-control(multiple="multiple",ngselect2,ng-data="settingPanel.chart.library")
  option(value='d3/3.5.12/min') d3js 3.5.12
  option(value='d3/4.1.1/min') d3js 4.1.1
  option(value='plotd3/0.1.0') plotd3 0.1.0
  option(value="worldmap/0.1.0") worldmap 0.1.0
  option(value="taiwan-mrt/0.0.1") Taiwan MRT Map 0.0.1
  option(value="topojson/1.6.24/min") topojson 1.6.24
  option(value="voronoijs/0.0.1/min") voronoijs 0.0.1
  option(value="d3.geo.projection/0.2.16/min") d3.geo.projection 0.2.16
  include d3module.jade
