.float-dataedit(ng-cloak,ng-class="{'active': dataPanel.toggled}",ng-controller="dataEditCtrl")
  .dimmer(ng-click="dataPanel.toggle()")
  .ib
    .closebtn.inner(ng-click="dataPanel.toggle()")
    include create.jade
.high-modal
  include import-modal.jade

