#data-edit-csv-modal.modal.fade(style="padding-top: 100px")
  .modal-dialog
    .modal-content
      .modal-body
        label Upload CSV file:
        .input-group
          input#data-edit-csv-file.form-control(type="file",style="border: 1px solid #ccc")
          span.input-group-btn
            button.btn.btn-default.dropdown-toggle(
            data-toggle="dropdown",type="button",style="border: 1px solid #ccc;border-radius:0")
              span Encoding :
              small {{parser.encoding}}&nbsp;
              span.caret
            ul.dropdown-menu.dropdown-meu-right
              li(ng-class="{'active':parser.encoding=='ISO-8859-1'}")
                a(ng-click="parser.encoding='ISO-8859-1'") ISO-8859-1
              li(ng-class="{'active':parser.encoding=='Big5'}"): a(ng-click="parser.encoding='BIG5'") BIG5
              li(ng-class="{'active':parser.encoding=='GB2312'}"): a(ng-click="parser.encoding='GB2312'") GB2312
              li(ng-class="{'active':parser.encoding=='UTF-8'}"): a(ng-click="parser.encoding='UTF-8'") UTF-8
            button.btn.btn-default(type="button",style="border: 1px solid #ccc",ng-click="parser.csv.read()") Read

#data-edit-gsheet-modal.modal.fade(style="padding-top: 100px")
  .modal-dialog
    .modal-content
      .modal-body
        label From Google Spreadsheet URL:
        .input-group
          input.form-control(type="text",style="border: 1px solid #ccc",ng-model="parser.gsheet.url")
          span.input-group-btn
            button.btn.btn-default(type="button",style="border: 1px solid #ccc",ng-click="parser.gsheet.read()") Read
