.pull-right(style="margin-top:18px")
  label.grayed Your Storage Usage
  .progress(style="width:240px")
    .progress-bar.progress-bar-info(
    ng-class="{'progress-bar-info': (user.storage.used < 50), 'progress-bar-warning': (user.storage.used > 50)}",
    ng-attr-style="width:{{user.storage.used}}%")
      span(ng-cloak) {{user.data.datasize|size}}

