.charts
  .chart(ng-repeat="chart in charts",ng-attr-style="display:inline-block;flex:1 1 {{chart.width}}px")
    .chart-img(ng-click="load(chart)")
      //- TODO remove chart.thumbnail once all charts are updated.
      .ib(ng-attr-style="background-image:url({{chart.thumbnail || '/s/chart/'+chart.key}}?{{chart.modifiedtime}})")
    .chart-desc(ng-click="load(chart)")
      .title
        .pull-right.grayed #[i.fa.fa-dot-circle-o] 5
        span {{chart.name}}
      .desc {{chart.description || 'check it yourself!'}}
    .labels
      .label(ng-cloak,ng-repeat="tag in chart.tags|tags") {{tag}}
    .social
      a.author(ng-attr-href="/user/{{chart.owner}}") #[i.fa.fa-user] {{chart.ownerName}}
      .favorite(ng-click="like(chart)", ng-class="{'active':user.data && user.data.likes.chart[chart.key]}") #[i.fa.fa-heart] {{chart.likes || 0}}
      //-.used #[i.fa.fa-code-fork] 15

