.loader.alone.lg.loading.fixed.scrolling(ng-cloak,ng-show="paging.loading && !paging.end",style="bottom: 60px")
#chart-explore-bar.navbar.navbar-default
  .container-fluid
    div
      ul.nav.navbar-nav(ng-cloak)
        li.dropdown(ng-class="{'active':q.type}")
          a.dropdown-toggle(data-toggle="dropdown",data-track="ChartList,Filter,ChartType")
            small {{'chart type'|i18n}}
            span(ng-show="q.type") {{qmap.type[q.type]|i18n}}
            span(ng-show="!q.type") {{'Any'|i18n}}
            span.caret
          ul.dropdown-menu.parallel
            li: a(ng-click="q.type=''") {{'Any'|i18n}}
            li(ng-class="{'active':q.type=='1'}"): a(ng-click="q.type='1'") {{'Bar Chart'|i18n}}
            li(ng-class="{'active':q.type=='2'}"): a(ng-click="q.type='2'") {{'Line Chart'|i18n}}
            li(ng-class="{'active':q.type=='3'}"): a(ng-click="q.type='3'") {{'Pie Chart'|i18n}}
            li(ng-class="{'active':q.type=='4'}"): a(ng-click="q.type='4'") {{'Area Chart'|i18n}}
            li(ng-class="{'active':q.type=='5'}"): a(ng-click="q.type='5'") {{'Bubble Chart'|i18n}}
            li(ng-class="{'active':q.type=='6'}"): a(ng-click="q.type='6'") {{'Radial Chart'|i18n}}
            li(ng-class="{'active':q.type=='7'}"): a(ng-click="q.type='7'") {{'Calendar'|i18n}}
            li(ng-class="{'active':q.type=='8'}"): a(ng-click="q.type='8'") {{'Treemap'|i18n}}
            li(ng-class="{'active':q.type=='9'}"): a(ng-click="q.type='9'") {{'Map'|i18n}}
            li(ng-class="{'active':q.type=='10'}"): a(ng-click="q.type='10'") {{'Cartogram'|i18n}}
            li(ng-class="{'active':q.type=='11'}"): a(ng-click="q.type='11'") {{'Heatmap'|i18n}}
            li(ng-class="{'active':q.type=='12'}"): a(ng-click="q.type='12'") {{'Sankey'|i18n}}
            //-
              li(ng-class="{'active':q.type=='13'}"): a(ng-click="q.type='13'") Venn Diagram
              li(ng-class="{'active':q.type=='14'}"): a(ng-click="q.type='14'") Word Cloud
              li(ng-class="{'active':q.type=='15'}"): a(ng-click="q.type='15'") Timeline
              li(ng-class="{'active':q.type=='16'}"): a(ng-click="q.type='16'") Mixed
            li(ng-class="{'active':q.type=='17'}"): a(ng-click="q.type='17'") {{'Pictogram'|i18n}}
            li(ng-class="{'active':q.type=='18'}"): a(ng-click="q.type='18'") {{'Scatter Plot'|i18n}}
            //-
              li(ng-class="{'active':q.type=='99'}"): a(ng-click="q.type='99'") Other

        li.dropdown(ng-class="{'active':q.enc}")
          a.dropdown-toggle(data-toggle="dropdown",data-track="ChartList,Filter,ChartEncoding")
            small {{'encoding'|i18n}}
            span(ng-show="q.enc") {{qmap.enc[q.enc]|i18n}}
            span(ng-show="!q.enc") {{'Any'|i18n}}
            span.caret
          ul.dropdown-menu
            li: a(ng-click="q.enc=''") {{'Any'|i18n}}
            li(ng-class="{'active':q.enc=='1'}"): a(ng-click="q.enc='1'") {{'Position'|i18n}}
            li(ng-class="{'active':q.enc=='2'}"): a(ng-click="q.enc='2'") {{'Position ( Non-aligned )'|i18n}}
            li(ng-class="{'active':q.enc=='3'}"): a(ng-click="q.enc='3'") {{'Length'|i18n}}
            li(ng-class="{'active':q.enc=='4'}"): a(ng-click="q.enc='4'") {{'Direction'|i18n}}
            li(ng-class="{'active':q.enc=='5'}"): a(ng-click="q.enc='5'") {{'Angle'|i18n}}
            li(ng-class="{'active':q.enc=='6'}"): a(ng-click="q.enc='6'") {{'Area'|i18n}}
            li(ng-class="{'active':q.enc=='7'}"): a(ng-click="q.enc='7'") {{'Volume'|i18n}}
            li(ng-class="{'active':q.enc=='8'}"): a(ng-click="q.enc='8'") {{'Curvature'|i18n}}
            li(ng-class="{'active':q.enc=='9'}"): a(ng-click="q.enc='9'") {{'Shade'|i18n}}
            li(ng-class="{'active':q.enc=='10'}"): a(ng-click="q.enc='10'") {{'Saturation'|i18n}}
            //-li(ng-class="{'active':q.enc=='99'}"): a(ng-click="q.enc='99'") Other

        li.dropdown(ng-class="{'active':q.cat}")
          a.dropdown-toggle(data-toggle="dropdown",data-track="ChartList,Filter,ChartCategory")
            small {{'category'|i18n}}
            span(ng-show="q.cat") {{qmap.cat[q.cat]|i18n}}
            span(ng-show="!q.cat") {{'Any'|i18n}}
            span.caret
          ul.dropdown-menu
            li: a(ng-click="q.cat=''") {{'Any'|i18n}}
            li(ng-class="{'active':q.cat=='1'}"): a(ng-click="q.cat='1'") {{'Infographics'|i18n}}
            li(ng-class="{'active':q.cat=='2'}"): a(ng-click="q.cat='2'") {{'Geographics'|i18n}}
            //-li(ng-class="{'active':q.cat=='3'}"): a(ng-click="q.cat='3'") Interactive
            li(ng-class="{'active':q.cat=='4'}"): a(ng-click="q.cat='4'") {{'Journalism'|i18n}}
            li(ng-class="{'active':q.cat=='5'}"): a(ng-click="q.cat='5'") {{'Statistics'|i18n}}
            li(ng-class="{'active':q.cat=='6'}"): a(ng-click="q.cat='6'") {{'Business'|i18n}}
            //-li(ng-class="{'active':q.cat=='99'}"): a(ng-click="q.cat='99'") Other

        li.dropdown(ng-class="{'active':q.dim}")
          a.dropdown-toggle(data-toggle="dropdown",data-track="ChartList,Filter,ChartDimension")
            small {{'dimension'|i18n}}
            span(ng-show="q.dim") {{qmap.dim[q.dim]|i18n}}
            span(ng-show="!q.dim") {{'Any'|i18n}}
            span.caret
          ul.dropdown-menu
            li: a(ng-click="q.dim=''") {{'Any'|i18n}}
            li(ng-class="{'active':q.dim==1}"): a(ng-click="q.dim=1") 1
            li(ng-class="{'active':q.dim==2}"): a(ng-click="q.dim=2") 2
            li(ng-class="{'active':q.dim==3}"): a(ng-click="q.dim=3") 3
            li(ng-class="{'active':q.dim==4}"): a(ng-click="q.dim=4") 4
            li(ng-class="{'active':q.dim==5}"): a(ng-click="q.dim=5") 5
            li(ng-class="{'active':q.dim==99}"): a(ng-click="q.dim=99") > 5
        //-li.dropdown
          a.dropdown-toggle(data-toggle="dropdown")
            small Order
            span(ng-cloak) {{q.order}}
            span.caret
          ul.dropdown-menu
            li(ng-class="{'active':q.order=='Latest'}"): a(ng-click="q.order='Latest'") Latest
            li(ng-class="{'active':q.order=='Popular'}"): a(ng-click="q.order='Popular'") Popular
            li(ng-class="{'active':q.order==\"Editor's Choice\"}"): a(ng-click="q.order=\"Editor's Choice\"") Editor's Choice

      form.navbar-form.navbar-right
        .form-group
          .btn.btn-default(data-track="ChartList,Filter,Favorite",
          data-toggle="tooltip",data-placement="top",title="Show My Favorite",
          ng-class="{'active':q.fav}",ng-click="q.fav=!!!q.fav") #[i.fa.fa-heart]
          | &nbsp;
          .input-group.pull-right(style="max-width:200px")
            input.form-control(ng-class="{'active': qLazy.keyword}",
            type="text",placeholder="Search",ng-model="qLazy.keyword")
            .input-group-btn(ng-click="loadList()")
              .btn.btn-default #[i.fa.fa-search]
