div(ng-controller="dataEditCtrl")
  #data-edit-link-modal.modal.fade(style="margin-top: 100px")
    .modal-dialog
      .modal-content
        .modal-body
          label Upload CSV by Link:
          .input-group
            input.form-control(type="text",style="border: 1px solid #ccc",ng-model="parser.link.url")
            span.input-group-btn
              button.btn.btn-default.dropdown-toggle(
              data-toggle="dropdown",type="button",style="border: 1px solid #ccc;border-radius:0")
                span Encoding
                small {{parser.encoding}}&nbsp;
                span.caret
              ul.dropdown-menu.dropdown-meu-right
                li(ng-class="{'active':parser.encoding=='ISO-8859-1'}")
                  a(ng-click="parser.encoding='ISO-8859-1'") ISO-8859-1
                li(ng-class="{'active':parser.encoding=='Big5'}"): a(ng-click="parser.encoding='BIG5'") BIG5
                li(ng-class="{'active':parser.encoding=='GB2312'}"): a(ng-click="parser.encoding='GB2312'") GB2312
                li(ng-class="{'active':parser.encoding=='UTF-8'}"): a(ng-click="parser.encoding='UTF-8'") UTF-8
              button.btn.btn-default(type="button",style="border: 1px solid #ccc",ng-click="readLink()") Read

  #data-edit-csv-modal.modal.fade(style="margin-top: 100px")
    .modal-dialog
      .modal-content
        .modal-body
          label Upload CSV file:
          .input-group
            input#data-edit-csv-file.form-control(type="file",style="border: 1px solid #ccc")
            span.input-group-btn
              button.btn.btn-default.dropdown-toggle(
              data-toggle="dropdown",type="button",style="border: 1px solid #ccc;border-radius:0")
                span Encoding :
                small {{parser.encoding}}&nbsp;
                span.caret
              ul.dropdown-menu.dropdown-meu-right
                li(ng-class="{'active':parser.encoding=='ISO-8859-1'}")
                  a(ng-click="parser.encoding='ISO-8859-1'") ISO-8859-1
                li(ng-class="{'active':parser.encoding=='Big5'}"): a(ng-click="parser.encoding='BIG5'") BIG5
                li(ng-class="{'active':parser.encoding=='GB2312'}"): a(ng-click="parser.encoding='GB2312'") GB2312
                li(ng-class="{'active':parser.encoding=='UTF-8'}"): a(ng-click="parser.encoding='UTF-8'") UTF-8
              button.btn.btn-default(type="button",style="border: 1px solid #ccc",ng-click="parser.csv.read()") Read

  #data-edit-gsheet-modal.modal.fade(style="margin-top: 100px")
    .modal-dialog
      .modal-content
        .modal-body
          label From Google Spreadsheet URL:
          .input-group
            input.form-control(type="text",style="border: 1px solid #ccc",ng-model="parser.gsheet.url")
            span.input-group-btn
              button.btn.btn-default(type="button",style="border: 1px solid #ccc",ng-click="parser.gsheet.read()") Read


  .panel.panel-default
    .panel-heading
      b #[span(ng-if="dataset") Edit]#[span(ng-if="!dataset") Create] Dataset
      .pull-right
        .btn.btn-default.btn-xs(ng-click="parser.csv.toggle()")
          i.fa.fa-upload
          span &nbsp; upload 
        span &nbsp;
        .btn.btn-default.btn-xs(ng-click="parser.link.toggle()")
          i.fa.fa-cloud
          span &nbsp; from link 
        span &nbsp;
        .btn.btn-default.btn-xs(ng-click="parser.gsheet.toggle()")
          i.fa.fa-table
          span &nbsp; google sheet 
    .panel-body
      textarea.form-control(rows="6",ng-model="data.raw",placeholder="paste or drag your data here...",style="margin-bottom:13px;font-family:monospace")
      .input-group.pull-left(style="width:200px")
        input.form-control.input-sm(type="input",ng-model="name",placeholder="Dataset Name")
        span.input-group-btn
          .btn.btn-default.btn-sm(ng-disabled="!name || !data.parsed",ng-click="save()") Save
      span &nbsp;
      .btn.btn-sm.btn-default(ng-disabled="!name || !data.parsed",ng-click="save(true)") Save Locally
      span(style="display:inline-block;padding:5px 10px;border:1px solid transparent;font-size:12px",ng-show="data.parsed && data.rows")
        | {{data.rows}} rows, {{data.size}}
      .btn.btn-default.btn-sm.pull-right Vis without Save

