div(ng-controller="dataEditCtrl")
  .pull-right(style="margin-top:30px")
    label.grayed Your Storage Usage
    .progress(style="width:240px")
      .progress-bar.progress-bar-info(style="width:20%;")
  h3.page-title Create Dataset
  p create dataset to use them in your visualization.
  .sep.dark.break
  include widget/create.jade
