extends /base.jade
block vars
  - var rootid = "dataview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.com/"
block head
block body
  .spc1
  .page-header: .inner
    include ../widget/usage.jade
    .title My Dataset
    //-.desc 35 public charts available for re-user.
    .desc
      .entries
        .entry
          i.fa.fa-database
          span(ng-cloak) 15 datasets
        .entry
          i.fa.fa-tag
          span(ng-cloak) 37 fields
  #root.narrow.with-header
    //include ../widget/usage.jade
    //-h3.page-title My Dataset
    //-.entries
      .entry
        i.fa.fa-database
        span(ng-cloak) 15 datasets
      .entry
        i.fa.fa-tag
        span(ng-cloak) 37 fields
    //-.sep.break.dark
    .row
      .col-sm-8
        include list.jade
      .col-sm-4
        br
        br
        .input-group
          input.form-control(placeholder="search for dataset...")
          .input-group-addon: i.fa.fa-search
  include ../../footer.jade
