extends /base.jade
block vars
  - var rootid = "dataview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.com/"
block head
block body
  span &nbsp;
  #root.narrow
    include ../widget/usage.jade
    h3.page-title My Dataset
    .entries
      .entry
        i.fa.fa-database
        span(ng-cloak) 15 datasets
      .entry
        i.fa.fa-tag
        span(ng-cloak) 37 fields
    .sep.break.dark
    include list.jade
  include ../../footer.jade
