.btn-group
  .btn-group
    .btn.btn-default.dropdown-toggle(data-toggle="dropdown") #[i.fa.fa-desktop] #[span.caret]
    ul.dropdown-menu
      li: a(href="#") #[i.fa.fa-mobile] Mobile #[small.grayed (320x480)]
      li: a(href="#") #[i.fa.fa-tablet] Tablet #[small.grayed (768x1024)]
      li: a(href="#") #[i.fa.fa-desktop] Desktop #[small.grayed (1280x800)]
      li: a(href="#") #[i.fa.fa-question-circle] Custom
  .btn-group
    .btn.btn-default.dropdown-toggle(data-toggle="dropdown") #[i.fa.fa-eye] #[span.caret]
    ul.dropdown-menu
      li: a(href="#") #[i.fa.fa-eye] Normal #[small.grayed (90%)]
      li: a(href="#") #[i.fa.fa-eye(style="color:#b60")] Red-Green #[small.grayed (10%)]
      li: a(href="#") #[i.fa.fa-eye(style="color:#999")] Monochromasy #[small.grayed (1%)]
      li: a(href="#") #[i.fa.fa-question-circle] More...
  .btn-group
    .btn.btn-default.dropdown-toggle(data-toggle="dropdown") #[i.fa.fa-download] #[span.caret]
    ul.dropdown-menu
      li: a(href="#") PNG #[small.grayed 125KB]
      li: a(href="#") SVG #[small.grayed 33KB]
      li: a(href="#") PlotDB.json #[small.grayed 45KB]

