upstream plotdb_api {
  server 127.0.0.1:9103;
}

server {
  listen 443 ssl http2;
  include /etc/nginx/mime.types;
  server_name plotdb.com;
  add_header X-Frame-Options "SAMEORIGIN";
  add_header X-Download-Options "noopen";
  add_header X-Content-Type-Options "nosniff";
  ssl on;
  ssl_certificate /etc/letsencrypt/live/plotdb.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/plotdb.com/privkey.pem;

  error_page 405 = $uri;
  root /home/web/services/plotdb/server;
  client_max_body_size 20m;

  location ~ \.(?:ico|css|js|gif|jpe?g|png|svg|woff)$ {
    root /home/web/services/plotdb/server/static/;
    expires 30d;
    add_header Pragma public;
    add_header Cache-Control public;
  }

  location ~ ^/(.*)$ {
    root /home/web/services/plotdb/server/static/;
    try_files $uri @nodeserver;
  }

  location @nodeserver {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;
    proxy_pass http://plotdb_api;
    proxy_redirect off;
  }
}

server {
  listen 443 ssl http2;
  include /etc/nginx/mime.types;
  server_name plotdb.io
  add_header X-Download-Options "noopen";
  add_header X-Content-Type-Options "nosniff";
  ssl on;
  ssl_certificate /etc/letsencrypt/live/plotdb.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/plotdb.io/privkey.pem;

  error_page 405 = $uri;
  client_max_body_size 20m;

  location ~ \.(?:ico|gif|jpe?g|png|svg|woff)$ {
    root /home/web/services/plotdb/server/static/;
    expires 30d;
    add_header Pragma public;
    add_header Cache-Control public;
  }

  location ~ ^/(v\/.*)$ {
    try_files $uri @nodeserver;
  }

  location ~ ^/(.well_known\/.*)$ {
    try_files $uri @nodeserver;
  }

  location ~ ^/(s\/.*|js\/.*|lib\/.*)$ {
    root /home/web/services/plotdb/server/static/;
    try_files $uri @failed;
  }

  location @failed {
    return 403;
  }

  location ~ ^/(.*)$ {
    return 403;
  }

  location @nodeserver {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;
    proxy_pass http://plotdb_api;
    proxy_redirect off;
  }
}
server {
  listen      80;
  server_name plotdb.com;
  add_header Strict-Transport-Security "max-age=16070400; includeSubDomains";
  rewrite     ^   https://$server_name$request_uri? permanent;
}
server {
  listen      80;
  server_name plotdb.io;
  add_header Strict-Transport-Security "max-age=16070400; includeSubDomains";
  rewrite     ^   https://$server_name$request_uri? permanent;
}
