include ../render/pdb-style.jade
div(style="position:absolute;top:50%;left:50%;margin:40px 0 0 -30px;font-family:arial;color:#777;") forbidden
.pdb-root(style="background:url(/assets/img/plotdb-notfound.png) center center no-repeat")
#plotdb-mark

