.box
  background: #fff
  border-radius: 2px
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
  border: 1px solid #ccc
.tab
  width: 90px
  height: 100%
  text-align: center
  display: inline-block
  vertical-align: top
  padding: 5px 7px
  border-right: 1px solid #bbb
  border-left: 1px solid #bbb
.box.float
  width: 1200px
  height: 50px
  position: fixed
  box-shadow: 0 3px 6px rgba(0,0,0,0.2)
  bottom: 0
  border-radius: 10px 10px 0 0
  left: 120px
.dropdown i.fa
  width: 20px
  text-align: center
  &.fa-mobile
    font-size: 1.2em
  &.fa-tablet
    font-size: 1.1em

@import 'sheet'
