//- module
+Dialog("chartModal.name")
  .panel.panel-default
    .panel-body(style="min-height:110px")
      h3 {{'Viswork Name'|i18n}}
      .sep
      br
      div(style="width:94%;margin:auto")
        p(ng-if="!chart.obj.key || !chart.obj.name") {{"Looks like your viswork doesn't have a name yet. Let's give it a name"|i18n}}:
        p(ng-if="chart.obj.name && chart.obj.key") {{'Give your viswork a new name'|i18n}}:
        input#chart-name-input.form-control(placeholder="e.g., US 2015 Population",ng-model="chartModal.name.ctrl.value")
      br
    .panel-footer.text-right
      .btn.btn-primary(ng-class="{'disabled':!chartModal.name.ctrl.value}",ng-click="chartModal.name.action('done')")
        span &nbsp; OK &nbsp;
      span &nbsp;
      .btn.btn-default(ng-click="chartModal.name.action('cancel')") {{'Cancel'|i18n}}
