#authpanel.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .closebtn(data-dismiss="modal",style="border-radius:50%;background:#222;")
        h4.modal-title.text-center Login to PlotDB
      .moda-body(style="padding:20px")
        form.form
          .form-group
            input.form-control(type="text",placeholder="Email",ng-model="auth.email")
          .form-group
            input.form-control(type="password",placeholder="Password",ng-model="auth.passwd")
          .btn.btn-block.btn-success.btn-lg(ng-click="auth.login()",ng-cloak)
            span(ng-show="!auth.isSignIn") SIGNUP
            span(ng-show="auth.isSignIn") LOGIN
          a.pull-right(href="#",style="margin-top:12px;font-size:12px;") forget password? &#xbb;
          .checkbox: label #[input(type="checkbox")] remember me
        hr
        #authpanel-social-login.row
          .col-xs-6
            a.btn.btn-default.btn-block(ng-attr-href="/u/auth/facebook?nexturl={{nexturl}}",
            style="font-size:12px")
              i.fa.fa-facebook-official
              span Sign in
          .col-xs-6
            .g-signin2(data-onsuccess="onSignIn")
            //-.btn.btn-default.btn-block(style="font-size:12px") Login with Google
      .modal-footer.text-center(ng-cloak)
        span(ng-show="auth.isSignIn") Newcomer here? #[a(href="#",ng-click="auth.isSignIn=false") Sign up &#xbb;]
        span(ng-show="!auth.isSignIn") Already a member? #[a(href="#",ng-click="auth.isSignIn=true") Sign In &#xbb;]

