doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var version = "26"
- var assets = "/assets"
- var thumbnail = "thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = assets + "/img/favicon-16.png"
- var rootid = ""
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    include library.jade
    link(rel="stylesheet",type="text/css",href="/css/index.css?"+version)
    link(href='https://fonts.googleapis.com/css?family=Lato:300,700',rel='stylesheet',type='text/css')
    //- think about Lato, Open Sans ( Condensed ), Noto Sans, Helvetica Neue, Century Gothic.
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700',rel='stylesheet',type='text/css')
    //-link(rel="chrome-webstore-item",href="https://chrome.google.com/webstore/detail/einojbmllcjnkcapgajdbjjnpibkjnhh")
    script(type="text/javascript",src="/global")
    script(type="text/javascript",src="/js/plotdb.js")
    script(type="text/javascript",src="/js/site.js")
    script(type="text/javascript",src="/js/service.js")
    link(rel="stylesheet",type="text/css",href="/assets/codemirror/5.10/lib/codemirror.css")
    script(type="text/javascript",src="/assets/codemirror/5.10/lib/codemirror.js")
    link(rel="stylesheet",type="text/css",href="/assets/ldcolorpicker/0.0.1/ldcp.css")
    script(type="text/javascript",src="/assets/ldcolorpicker/0.0.1/ldcp.min.js")
    script(type="text/javascript",src="/assets/codemirror/5.10/mode/javascript/javascript.js")
    script(type="text/javascript",src="/assets/codemirror/5.10/mode/xml/xml.js")
    script(type="text/javascript",src="/assets/codemirror/5.10/mode/css/css.js")
    script(type="text/javascript",src="/assets/ui-codemirror/0.3.0/ui-codemirror.min.js")
    script(type="text/javascript",src="/assets/ngDraggable/0.1.8/ngDraggable.js")
    script(type="text/javascript",src="/assets/papaparse/4.1.2/papaparse.min.js")
    block head
  body(id=rootid,ng-app="plotDB",ng-controller="plSite")
    include nav.jade
    include authpanel.jade
    #notifications
      .notify(ng-repeat="n in notifications",ng-class="'notify-'+n.type",ng-cloak) {{n.message}}
    block body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      /*ga('create', 'UA-49953904-1', 'loading.io');
      ga('send', 'pageview');*/
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=538062799648166";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    //-script.
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) { t._e.push(f); };
        return t;
      }(document, "script", "twitter-wjs"));


