doctype html
include version.jade
include mixin.jade
- var assets = "/assets"
- var title = 'PlotDB: Share Visualizations with Everyone'
- var description = "Create, share and request visualizations online."
- var thumbnail = "//plotdb.com/assets/img/thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = assets + "/img/favicon-16.png"
- var rootid = ""
- var url = "https://plotdb.com/"
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    include library.jade
    //-link(rel="stylesheet",type="text/css",href="/css/index.css?"+version)
    //-link(href='//fonts.googleapis.com/css?family=Lato:300,400,700',rel='stylesheet',type='text/css')
    //- think about Lato, Open Sans ( Condensed ), Noto Sans, Helvetica Neue, Century Gothic.
    //-link(href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700',rel='stylesheet',type='text/css')
    //-link(rel="chrome-webstore-item",href="https://chrome.google.com/webstore/detail/einojbmllcjnkcapgajdbjjnpibkjnhh")
    //-
      link(rel="stylesheet",type="text/css",href="/assets/codemirror/5.10/lib/codemirror.css")
      link(rel="stylesheet",type="text/css",href="/assets/ldcolorpicker/0.1.1/ldcp.css")
      link(rel="stylesheet",type="text/css",href="/assets/select2/4.0.1/css/select2.min.css")
    script(type="text/javascript",src="/global")
    script(type="text/javascript",src="/js/pack/base.js?" + version)
    //-script(type="text/javascript",src="/assets/papaparse/4.1.2/papaparse.min.js")
    block head
  body(id=rootid,ng-app="plotDB",ng-controller="plSite")
    #confirmbox
      .cover-modal.ng-hide-animate.ng-hide(ng-show="confirmbox.toggled",ng-cloak)
      .cover-modal-inner.ng-hide-animate.ng-hide(ng-show="confirmbox.toggled",ng-cloak)
        .panel.panel-default
          .panel-body
            h3(ng-show="confirmbox.config.title") {{confirmbox.config.title}}
            p {{confirmbox.config.message}}
            .btn.btn-default(ng-repeat="option in confirmbox.config.options",
            ng-click="confirmbox.handle($index)") {{option}}
    #loading-dimmer(ng-class="{'active':loading.dimmer, 'show-progress':loading.progress}")
      .progress
        .progress-bar.progress-bar-striped.active(
        aria-valuemin="0",aria-valuemax="100",
        ng-attr-style="width:{{loading.progress}}%")

    div(style="height:0") &nbsp;
    include nav.jade
    include auth/panel.jade
    #notifications
      .notify(ng-repeat="n in notifications",ng-class="'notify-'+n.type",ng-cloak) {{n.message}}
    #alertbox(ng-cloak,ng-show="alert.toggled"): .ib
      br
      .text-center {{alert.msg}}
      .footer
        .btn.btn-default.btn-sm(ng-click="alert.toggled=false") OK
    block body
    include /feedback.jade
    include /ga.jade
    include /fb.jade
    //-script.
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) { t._e.push(f); };
        return t;
      }(document, "script", "twitter-wjs"));
