#fb-root
script.
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1546734828988373',
      xfbml      : true,
      version    : 'v2.5'
    });
    var i,list = (window.fbQueue || []);
    for(i=0;i<list.length;i++) window.fbQueue[i]();
  };
  window.onload = function() {
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  };
