include /mixin.jade
#user-feedback(ng-click="gfbt.toggle()")
  i.fa.fa-commenting
  span(ng-cloak) {{'send feedback'|i18n}}
+cover-modal("gfbt.toggled","gfbt.toggle(false)","centered")
  .panel.panel-default(style="height:100%")
    .panel-body(style="height:100%;overflow-y:scroll;padding-bottom:50px")
      .closebtn.inner.inverse.lg(ng-click="gfbt.toggle(false)")
      .fb-comments(data-href="http://plotdb.com/feedback/",data-width="100%",data-numposts="5",data-colorscheme="light")
    .panel-footer.text-right(style="position:absolute;bottom:0;left:0;width:100%;z-index:1")
      .btn.btn-default(ng-click="gfbt.toggle(false)") {{'Close'|i18n}}

