#footer: .inner
  .row
    .col-sm-12
      span &copy; 2016 &nbsp;
      b: big: a(href="/",style="margin:0") PlotDB.com
      //-span About
      a(href="/info/privacy/") Privacy Policy
      //-span FAQ
      a(href="/info/contact/") Suggestion and Contact
