#footer: .inner
  .row
    .col-sm-4
      span About
      span Privacy Policy
      span FAQ
      span Contact
    .col-sm-4
      span
        | PlotDB is a visualization catalogue with thousnads of instant avaliable and customizable chart, provided with source code for all your control.
    .col-sm-4
      div(style="width:80px;height:80px;border-radius:3px;border:1px solid #ccc;box-shadow:0 1px 2px rgba(0,0,0,0.3);background:#ddd")

