extends base.jade
block vars
  - var rootid = "landview"
  - var title = 'PlotDB: Share Visualizations with Everyone'
  - var description = "Create, share and request visualizations online."
  - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
  - var thumbtype = "image/png"
  - var url = "https://plotdb.com/"
block head
  script(type="text/javascript",src="/js/landing.js")
block body
  //-#landing(style="background-image:url(/assets/img/test/landing.png);background-size:cover")
  #subnav-top: .ib
    a(href="/chart/explore/?cat=1") Infographics
    a(href="/chart/explore/?cat=2") Geographic
    a(href="/chart/explore/?cat=4") Journalism
    a(href="/chart/explore/?cat=5") Statistics
    a(href="/chart/explore/?cat=6") Business
  #landing
    svg#landing-svg
    img(src="/assets/img/logo-alt.png",style="top:50%;position:relative;z-index:2")

  #product-description: .ib
    +margin-break
    br
    h2.text-center Break the Gap
    .text-center(style="font-size:1.2em") Coding skill is not the limit of your creativity
    br
    br
    br
    .row.text-center(style="max-width:1024px;margin:auto")
      .col-sm-4
        img(src="/assets/img/lock.svg", style="width:128px;margin:32px 0")
        h3 Keep Data Locally
        span use your data #[b without uploading]. #[br] Privacy First!
      .col-sm-4
        img(src="/assets/img/creativity.svg", style="width:192px")
        br
        h3 Infinite Creativity
        span more than common charts. #[b Much more]. #[br] Plot Like Shopping!
      .col-sm-4
        img(src="/assets/img/test/gears.svg",style="width:128px;margin:32px 0")
        br
        h3 Full Control
        span #[b source code] and #[b stylesheet] in your hand. #[br] Customize as You Can!
    br
  #root
    br
    h2.text-center Choose a Visualization and Start!
    .text-center Instead of step-by-step, we do this in a #[b top-down] style - choose a finished visualization then modify it.
    br
    br
    div(ng-controller="chartList")
      div(style="height:52px")
      #chart-filter.landing.scroll-stick(data-top="55")
        include chart/widget/search.jade
      include chart/widget/charts.jade

    br

    br
    .text-center: a.btn.btn-lg.btn-success(href="/chart/explore/"): big give me more!
    br
    hr
    br
    h2.text-center Showcases
    .text-center Let's see who and how they uses PlotDB.
    br
    //-for i in [1,2,3,4,5]
      div(style="max-width:1200px;margin:auto")
        .row
          .col-sm-7
            div(style="width:100%;height:300px;background:#eee;border:1px solid #ddd;box-shadow: 0 1px 1px rgba(0,0,0,0.2);border-radius:3px;margin:10px;")
          .col-sm-5
            h3.text-center Nielson
            p 無論您是在密切觀察鄰近城鎮的市場，或是橫跨各大洲的市場，我們都瞭解掌握消費者關注與購買的產品，是何等的重要。這正是我們的熱情與企業核心所在。
            p 我們研究全球超過 100 個國家的消費者，為您提供最完整的全球趨勢和特徵的觀點。我們不僅持續發展測量項目與對象，同時也深入探索如何協助您推動高獲利成長。
        hr

  include footer.jade
