extends base.jade
block vars
  - var rootid = "iconview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.io/"
block head
  script(type="text/javascript",src="/js/io.js")
  script(type="text/javascript",src="/js/chart/sample.js")
  script(type="text/javascript",src="/js/chart/index.js")
  script(type="text/javascript",src="/js/data.js")
block body
  //-#landing(style="background-image:url(/assets/img/test/landing.png);background-size:cover")
  #landing(style="text-align: center")
    img(src="/assets/img/test/logo.png",style="margin-top:100px")
    //-
      .title P#[small LOT]DB
      .subtitle data on you, vis by us.

  #product-description(style="background:#fff")
    br
    br
    div(style="position:absolute;right:220px;width:240px;height:180px;border:1px dashed #000;transform:rotate(-5deg);background:#fff;margin-top:-50px;box-shadow:-4px 4px 4px rgba(0,0,0,0.2)")
    h4.text-center You don't need to be coder to do visualization.
    h3.text-center No, You don't need.
    //-
      h4.text-center "Hey I want to vis like this, but I can't code ..."
      h3.text-center No, You don't need.
    br
    hr
    h3.text-center Why PlotDB ?
    hr
    br
    .row.text-center(style="max-width:1024px;margin:auto")
      .col-sm-4
        i.fa.fa-globe(style="font-size:64px")
        h3 Keep Data Locally
        span use your data #[b without uploading]. #[br] Privacy First!
      .col-sm-4
        i.fa.fa-link(style="font-size:64px")
        br
        h3 Infinite Creativity
        span more than common charts. #[b Much more]. #[br] Plot Like Shopping!
      .col-sm-4
        i.fa.fa-heart(style="font-size:64px")
        br
        h3 Full Control
        span #[b source code] and #[b stylesheet] in your hand. #[br] Customize as You Can!
    br

  #root

    hr
    include /chart/modal.jade
    br
    h2.text-center Pick One and Go!
    br
    br
    //-
      .panel.panel-default(style="display:inline-block"): .panel-body
        big 我的資料 #[small(style="color:#777;"): small: i 67.5KB / 407 rows]
        br
        .label.label-info.label-light 姓名
        span &nbsp;
        .label.label-info.label-light 年齡
        span &nbsp;
        .label.label-info.label-light 屆別
        span &nbsp;
        .label.label-info.label-light 黨籍
      span &nbsp; &nbsp;
      .btn.btn-default.btn-sm 切換
      hr(style="margin-top:0")
      h3 Applicable Charts

    .charts
      .chart(ng-repeat="chart in charts",ng-click="load(chart)")
        .chart-img
          .ib(ng-attr-style="background-image:url({{chart.thumbnail}})")
          //-.ib
        .chart-desc
          .title {{chart.name}}
          .desc {{chart.desc || 'check it yourself!'}}
          //-.dimension
            div(style="margin:10px 0 5px;border-bottom:1px solid #eee") Dimensions
            span(ng-repeat="dim in chart.dimension")
              .label.label-default.label-light {{dim.name}}
              span &nbsp;
            //-
              .label.label-default.label-light Radius
              span &nbsp;
              .label.label-success.label-light X-axis
              span &nbsp;
              .label.label-default.label-light Y-axis
          //-.property
            div(style="margin:15px 0 5px;border-bottom:1px solid #ddd") #[i.fa.fa-tag] Best use with
            span(style="color:#ccc;",ng-if="!chart.tags") n/a
            .label.label-default.label-light(ng-repeat="tag in chart.tags|tags",style="margin-right:3px;font-size:0.9em;background:#fff;color:#777;box-shadow:0 1px 1px rgba(0,0,0,0.1)") {{tag}}
            //-
              .label.label-default.label-light Geo-related
              span &nbsp;
              .label.label-default.label-light Population
      .chart.flexend
    br
    .text-center: a.btn.btn-lg.btn-success(href="list.html"): big give me more!
    br
    hr
    br
    h2.text-center Showcases
    .text-center Let's see who and how they uses PlotDB.
    br
    //-for i in [1,2,3,4,5]
      div(style="max-width:1200px;margin:auto")
        .row
          .col-sm-7
            div(style="width:100%;height:300px;background:#eee;border:1px solid #ddd;box-shadow: 0 1px 1px rgba(0,0,0,0.2);border-radius:3px;margin:10px;")
          .col-sm-5
            h3.text-center Nielson
            p 無論您是在密切觀察鄰近城鎮的市場，或是橫跨各大洲的市場，我們都瞭解掌握消費者關注與購買的產品，是何等的重要。這正是我們的熱情與企業核心所在。
            p 我們研究全球超過 100 個國家的消費者，為您提供最完整的全球趨勢和特徵的觀點。我們不僅持續發展測量項目與對象，同時也深入探索如何協助您推動高獲利成長。
        hr

  include footer.jade
