extends base.jade
block vars
  - var rootid = "landview"
  - var title = 'PlotDB: Share Visualizations with Everyone'
  - var description = "Create, share and request visualizations online."
  - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
  - var thumbtype = "image/png"
  - var url = "https://plotdb.com/"
block head
  link(rel="stylesheet",type="text/css",href="/css/render/pdb.css")
  link(rel="stylesheet",type="text/css",href="/assets/ldcolorpicker/0.1.1/ldcp.css")
  script(type="text/javascript",src="/js/chart/view.js")
  script(type="text/javascript",src="/js/chart/plotd3.js")
  script(type="text/javascript",src="/assets/ldcolorpicker/0.1.1/ldcp.min.js")
  script(type="text/javascript",src="/lib/voronoijs/0.0.1/index.min.js")
  script(type="text/javascript",src="/js/landing.js")
block body
  #landing
    .iconmask.left
    .iconmask.right
    .hl
      .logo
      .title 100+ Visualizations for Your Data
      .subtitle enough with basic charts? need full control of your viswork?
    .subhl
      div with PlotDB, you just
      div Pick. Drag. Download.
    .features
      .ib #[.icon(style="background-position: 0 0")]#[small mobile ready]
      .ib #[.icon(style="background-position: -44px 0")]#[small interactive]
      .ib #[.icon(style="background-position: -88px 0")]#[small editable svg]
    .try
    #land-edit: .ib
      #land-pdb-root
        div #[big Employees Gender, by Dept.] #[div]
        div #[big Charisma of Employees] #[div]
        div #[big Comparing Work Hours by Dept.] #[div]
        div #[big Avg. Work Hours by Gender] #[div]
        div #[big Performance by Individual] #[div]
      #land-edit-cog
        .pal #[.color]#[.color]#[.color]#[.color]#[.color]
        .btn-group(style="display:inline-block")
          .btn.btn-default.btn-sm.active Data1
          .btn.btn-default.btn-sm Data2
      #land-edit-pick(ng-click="pick()")
        .ib(idx="0") #[.icon(style="background-position:0 0")]#[small chord]
        .ib(idx="1") #[.icon(style="background-position:-43px 0")]#[small ternary]
        .ib.active(idx="2") #[.icon(style="background-position:-86px 0")]#[small voronoi]
        .ib(idx="3") #[.icon(style="background-position:-129px 0")]#[small coxcomb]
        .ib(idx="4") #[.icon(style="background-position:-172px 0")]#[small bubble]
  h2#land-more
    div but wait, there are more!
    div Let's pick a viswork!
    a(href="#root"): i.fa.fa-angle-double-down
  #root(style="padding-top:10px")
    div(ng-controller="chartList")
      div(style="height:52px")
      #chart-filter.landing.scroll-stick(data-top="55")
        include chart/widget/search.jade
      include chart/widget/charts.jade
    br
    br
    .text-center: a.btn.btn-lg.btn-success(href="/chart/explore/"): big give me more!
    br
    hr
    br
    h2.text-center Showcases
    .text-center Let's see who and how they use PlotDB.
    .sep.gap.active
    #land-show
      .ib
        .row
          .col-sm-5
            .thumb(style="background-image:url(/assets/img/land/showcase/reporter.jpg);background-color:#fff")
          .col-sm-5
            h3.text-center #[img(src="/assets/img/land/showcase/reporter-logo.png")] The Reporter
            p the Reporter, a NPO by the Reporter Foundation, uses PlotDB in their stories about Rio 2016 Olympic and foreign worker issues, etc.
            .pull-right: a(href="https://www.twreporter.org/a/olympic-2016/athletics/",target="_blank") view full story
        hr
        .row
          .col-sm-5
            .thumb(style="background-image:url(/assets/img/land/showcase/thenewslens.png);background-color:#dedee0")
          .col-sm-5
            h3.text-center #[img(src="/assets/img/land/showcase/thenewslens-logo.png")] The News Lens
            p Instead of embeding live content, The News Lens uses PlotDB to generate base chart which cannot be hand-crafted easily, then edit with Adobe Illustrator to produce production-ready graphic assets.
            .pull-right: a(href="https://www.thenewslens.com/article/50311",target="_blank") view full story
        hr

    br
    //-for i in [1,2,3,4,5]
      div(style="max-width:1200px;margin:auto")
        .row
          .col-sm-7
            div(style="width:100%;height:300px;background:#eee;border:1px solid #ddd;box-shadow: 0 1px 1px rgba(0,0,0,0.2);border-radius:3px;margin:10px;")
          .col-sm-5
            h3.text-center Nielson
            p 無論您是在密切觀察鄰近城鎮的市場，或是橫跨各大洲的市場，我們都瞭解掌握消費者關注與購買的產品，是何等的重要。這正是我們的熱情與企業核心所在。
            p 我們研究全球超過 100 個國家的消費者，為您提供最完整的全球趨勢和特徵的觀點。我們不僅持續發展測量項目與對象，同時也深入探索如何協助您推動高獲利成長。
        hr

  include footer.jade
