extends base.jade
block vars
  - var rootid = "landview"
  - var title = 'PlotDB: Share Visualizations with Everyone'
  - var description = "PlotDB is a place for you to create, share and ask for visualizations online."
  - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
  - var thumbtype = "image/png"
  - var url = "https://plotdb.com/"
block head
  link(rel="stylesheet",type="text/css",href="/css/render/pdb.css")
  link(rel="stylesheet",type="text/css",href="/assets/ldcolorpicker/0.1.1/ldcp.css")
  script(type="text/javascript",src="/js/chart/view.js")
  script(type="text/javascript",src="/js/chart/plotd3.js")
  script(type="text/javascript",src="/assets/ldcolorpicker/0.1.1/ldcp.min.js")
  script(type="text/javascript",src="/lib/voronoijs/0.0.1/index.min.js")
  script(type="text/javascript",src="/js/landing.js")
block body
  #landing
    .iconmask.left
    .iconmask.right
    .hl(ng-cloak)
      .logo
      .title {{'Data Visualization as a Service'|i18n}}
      //-.subtitle 讓您輕鬆做出各種圖表
      .subtitle {{'We provide every single chart you will need'|i18n}}
    //-.subhl
      div with PlotDB, you just
      div Pick. Drag. Download.
    .features
      .ib #[.icon(style="background-position: 0 0")]#[small mobile ready]
      .ib #[.icon(style="background-position: -44px 0")]#[small interactive]
      .ib #[.icon(style="background-position: -88px 0")]#[small editable svg]
    .try
    #land-edit: .ib
      #land-pdb-root
        div #[big Employees Gender, by Dept.] #[div]
        div #[big Charisma of Employees] #[div]
        div #[big Comparing Work Hours by Dept.] #[div]
        div #[big Avg. Work Hours by Gender] #[div]
        div #[big Performance by Individual] #[div]
      #land-edit-cog
        .pal #[.color]#[.color]#[.color]#[.color]#[.color]
        .btn-group(style="display:inline-block")
          .btn.btn-default.btn-sm.active Data1
          .btn.btn-default.btn-sm Data2
      #land-edit-pick(ng-click="pick()")
        .ib(idx="0") #[.icon(style="background-position:0 0")]#[small chord]
        .ib(idx="1") #[.icon(style="background-position:-43px 0")]#[small ternary]
        .ib.active(idx="2") #[.icon(style="background-position:-86px 0")]#[small voronoi]
        .ib(idx="3") #[.icon(style="background-position:-129px 0")]#[small coxcomb]
        .ib(idx="4") #[.icon(style="background-position:-172px 0")]#[small bubble]
  br
  //-h2#land-more
    div but wait, there are more!
    div Let's pick a viswork!
    a(href="#root"): i.fa.fa-angle-double-down
  #root(style="padding-top:10px")
    div(ng-controller="chartList")
      div(style="height:52px")
      #chart-filter.landing.scroll-stick(data-top="55")
        include chart/widget/search.jade
      include chart/widget/charts.jade
    br
    br
    //- .text-center: a.btn.btn-lg.btn-success(href="/chart/explore/"): big give me more!
    br
    hr
    br
  include footer.jade
