mixin cover-modal(condition,toggle)
  .cover-modal.ng-hide-animate.ng-hide(ng-cloak,ng-show=condition,ng-click=toggle)
  .cover-modal-inner.ng-hide-animate.ng-hide(ng-cloak,ng-show=condition)
    block

