#nav-top
  nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")
          img(src="/assets/img/plotdb.png",style="height:100%")
      div
        ul.nav.navbar-nav
          li#nav-chart.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown") CHARTS#[span.caret]
            ul.dropdown-menu
              li: a(href="/chart/explore/") Explore
              li: a(ng-cloak,href="/chart/me/",ng-show="user.data") My Charts
              li.divider
              li: a(href="/chart/") New Chart
              li: a(href="/chart/?demo") Demo Chart

          li#nav-dataset.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown") DATASET#[span.caret]
            ul.dropdown-menu
              //-li: a(href="/dataset/explore/") Explore
              li: a(href="/dataset/me/",ng-cloak,ng-show="user.data") My Dataset
              li.divider
              li: a(href="/dataset/") New Dataset
          li#nav-palette: a(href="/palette/editor.html",ng-cloak,ng-show="user.data") PALETTE EDITOR
          //-li#nav-theme.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown") THEME#[span.caret]
            ul.dropdown-menu
              li: a(href="/theme/explore/") Explore
              li: a(href="/theme/me/",ng-cloak,ng-show="user.data") My Theme
              li: a(href="/palette/editor.html",ng-cloak,ng-show="user.data") Palette Editor
              li.divider
              li: a(href="/theme/") New Theme

        ul.nav.navbar-nav.pull-right
          //- temporarily hide 'request' button
          //li#nav-request: a(href="/request/")
            i.fa.fa-comment
            | &nbsp;
            span: small Request a Chart
          //-li#nav-theme: a(href="/doc/"): small Dev Guide
          //-li#nav-localdata: a(href="/",ng-cloak) {{dataService.local.size|size}}, {{dataService.local.rows}} Rows
          li(ng-cloak,ng-show="!user.data"): a#nav-login(href="#",ng-click="auth.show = !!!auth.show")
            i.fa.fa-sign-in
            | &nbsp; 
            span LOGIN / SIGNUP
          li#nav-profile.dropdown(ng-cloak,ng-show="user.data")
            .btn(data-toggle="dropdown")
              span {{user.data.displayname}}
              .avatar(ng-attr-style="background-image:url(/s/avatar/{{user.data.avatar || '0'}}.jpg)")
              span.caret
            ul.dropdown-menu
              li: a(href="/me/") Profile
              li: a(href="/me/edit/") Settings
              li.divider
              li: a(href="#",ng-click="auth.logout()") Logout

