#nav-top
  nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")
          | PlotDB
      div
        ul.nav.navbar-nav
          li#nav-chart.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown") CHARTS #[span.caret]
            ul.dropdown-menu
              li: a(href="/list.html") Explore
              li: a(href="/chart.html") Design
              li.divider
              li: a(href="/mychart.html") My Charts

          li#nav-data: a(href="/data/") DATA
          li#nav-theme: a(href="/theme.html") THEME
          li#nav-tmpdata: a(href="/") {{dataService.local.size|size}}, {{dataService.local.rows}} Rows

        ul.nav.navbar-nav.pull-right
          li(ng-show="!user.data"): a#nav-login(href="#",ng-click="auth.show = !!!auth.show")
            i.fa.fa-sign-in
            | &nbsp; 
            span LOGIN / SIGNUP
          li#nav-profile.dropdown(ng-show="user.data")
            .btn(data-toggle="dropdown")
              .avatar(ng-attr-style="background-image:url({{user.data.avatar || '/assets/img/avatar.png'}})")
              span.caret
            ul.dropdown-menu
              li: a(href="/me/") Profile
              li: a(href="/me/edit/") Setting
              li.divider
              li: a(href="#",ng-click="auth.logout()") Logout

          li.heart: a(href="#") &#x2764;

