#nav-top
  nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")
          img(src="/assets/img/plotdb.png",style="height:100%")
      div
        ul.nav.navbar-nav
          li#nav-chart.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown") CHARTS #[span.caret]
            ul.dropdown-menu
              li: a(href="/explore/") Explore
              li: a(href="/chart/") Design
              li.divider
              li: a(href="/chart/me.html") My Charts

          li#nav-data: a(href="/data/") DATA
          li#nav-theme: a(href="/theme/") THEME

        ul.nav.navbar-nav.pull-right
          li#nav-theme: a(href="/theme/"): small Request a Chart
          li#nav-theme: a(href="/doc/"): small Dev Guide
          //-li#nav-localdata: a(href="/",ng-cloak) {{dataService.local.size|size}}, {{dataService.local.rows}} Rows
          li(ng-show="!user.data"): a#nav-login(href="#",ng-click="auth.show = !!!auth.show")
            i.fa.fa-sign-in
            | &nbsp; 
            span LOGIN / SIGNUP
          li#nav-profile.dropdown(ng-show="user.data")
            .btn(data-toggle="dropdown")
              .avatar(ng-attr-style="background-image:url({{user.data.avatar || '/assets/img/avatar.png'}})")
              span.caret
            ul.dropdown-menu
              li: a(href="/me/") Profile
              li: a(href="/me/settings/") Settings
              li.divider
              li: a(href="#",ng-click="auth.logout()") Logout

          li.heart: a(href="#") &#x2764;

