#nav-top
  nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")
          img(src="/assets/img/plotdb.png",style="height:100%")
      div(ng-cloak)
        ul.nav.navbar-nav
          li#nav-chart.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown")
              i.fa.fa-bar-chart
              span.name &nbsp;{{'CHART'|i18n}}
              span.caret
            ul.dropdown-menu
              li: a(href="/chart/explore/") {{'Explore'|i18n}}
              li(ng-show="user.data",ng-cloak): a(href="/chart/me") {{'My Charts'|i18n}}
              li.divider
              li: a(href="/chart/") {{'from scratch'|i18n}}
              //-li: a(href="/chart/?demo") Demo Chart

          li#nav-dataset.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown")
              i.fa.fa-table
              span.name &nbsp;{{'DATASET'|i18n}}
              span.caret
            ul.dropdown-menu
              //-li: a(href="/dataset/explore/") Explore
              li: a(href="/dataset/me/",ng-show="user.data") {{'My Datasets'|i18n}}
              li.divider
              li: a(href="/dataset/") {{'New Dataset'|i18n}}
          //-li#nav-theme.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown")
              i.fa.fa-paint-brush
              span.name &nbsp;THEME
              span.caret
            ul.dropdown-menu
              li: a(href="/theme/explore/") Explore
              li: a(href="/theme/me/",ng-cloak,ng-show="user.data") My Theme
              //-li: a(href="/palette/editor.html",ng-cloak,ng-show="user.data") Palette Editor
              li.divider
              li: a(href="/theme/") Make New Theme
          li#nav-collection: a(href="/collection/") {{'COLLECTION'|i18n}}
          li#nav-palette
            a(href="/palette/editor.html")
              img(src="/assets/img/palette2.svg",style="vertical-align:text-top;width:14px;margin-top:2px;")
              span.name &nbsp;{{'PALETTE'|i18n}}
              //li: a(href="/palette/editor.html",ng-cloak,ng-show="user.data") Advanced Editor
          li#nav-showcase: a(href="/showcase/",ng-cloak)
            span.name &nbsp;{{'SHOWCASE'|i18n}}

        ul.nav.navbar-nav.pull-right
          //- temporarily hide 'request' button
          //li#nav-request: a(href="/request/")
            i.fa.fa-comment
            | &nbsp;
            span: small Request a Chart
          //-li#nav-theme: a(href="/doc/"): small Dev Guide
          //-li#nav-localdata: a(href="/",ng-cloak) {{dataService.local.size|size}}, {{dataService.local.rows}} Rows
          li#nav-pricing: a(href="/pricing/") {{'Pricing'|i18n}}
          li(ng-cloak,ng-show="!user.data"): a#nav-login(href="#",ng-click="auth.show = !!!auth.show")
            i.fa.fa-sign-in
            | &nbsp; 
            span {{'LOGIN / SIGNUP'|i18n}}
          li#nav-profile.dropdown(ng-cloak,ng-show="user.data")
            .btn(data-toggle="dropdown")
              //-span {{user.data.displayname}}
              .avatar(ng-attr-style="background-image:url(/s/avatar/{{user.data.avatar || '0'}}.jpg)")
              span.caret
            ul.dropdown-menu
              li(ng-show="user.data",ng-cloak): a(href="/user/{{user.data.key}}")
                b(style="vertical-align:middle") {{user.data.displayname}}&nbsp;
                label.label.label-default(ng-show="!user.data.payment.plan") Free
                label.label.label-info(ng-show="user.data.payment.plan==1") Basic
                label.label.label-info(ng-show="user.data.payment.plan==2") Expert
              //-li(ng-show="user.data",ng-cloak): a(href="/user/{{user.data.key}}") Profile
              li.divider
              li: a(href="#")
                label.grayed {{'Storage Usage'|i18n}}
                .progress(style="width:120px;margin:0")
                  .progress-bar.progress-bar-info(
                  ng-class="{'progress-bar-info': ((user.data.datasize || 0) / 100000 < 50), 'progress-bar-warning': ((user.data.datasize || 0) / 100000 > 50)}",
                  ng-attr-style="width:{{(user.data.datasize || 0)/ 100000}}%")
                    span(ng-cloak) {{user.data.datasize|size}}
              li.divider
              li: a(href="/team/") {{'Teams'|i18n}}
              li: a(href="/me/edit/") {{'Settings'|i18n}}
              li: a(href="/me/billing/") {{'Billing'|i18n}}
              li.divider
              li: a(href="#",ng-click="auth.logout()") {{'Logout'|i18n}}

