doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var version = "26"
- var assets = "/assets"
- var thumbnail = "http://plotdb.com/assets/img/thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = assets + "/img/favicon-16.png"
- var rootid = "renderview"
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    //-include library.jade
    include meta.jade
    block head
    meta(charset="utf-8")
    meta(name="script",content="/js/pack/render.js")
    include render/base-style.jade
    include render/pdb-style.jade
    include colorblind.jade
  body
    block body
  block foot
