doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var version = "26"
- var assets = "/assets"
- var thumbnail = "thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = assets + "/img/favicon.png"
- var rootid = "renderview"
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    //-include library.jade
    block head
    script(type="text/javascript",src="/js/sched.js")
    link(rel="stylesheet",type="text/css",href="/css/render.css")
    script(type="text/javascript",src="#{assets}/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript",src="#{assets}/d3js/3.5.12/d3.v3.min.js")
    script(type="text/javascript",src="#{assets}/topojson/1.6.24/topojson.min.js")
    script(type="text/javascript",src="/assets/voronoijs/0.0.1/voronoi.min.js")
    script(type="text/javascript",src="/assets/canvg/1.4.0/rgbcolor.js")
    script(type="text/javascript",src="/assets/canvg/1.4.0/StackBlur.js")
    script(type="text/javascript",src="/assets/canvg/1.4.0/canvg.js")
    script(type="text/javascript",src="/assets/utf8js/2.0.0/utf8.js")
    script(type="text/javascript",src="/assets/base64/0.1.0/base64.js")
    script(type="text/javascript",src="/js/chart/base.js")
    script(type="text/javascript",src="/js/chart/render.js")
    include /colorblind.jade
  body
    block body
