extends base.jade
block vars
  - var rootid = "iconview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.io/"
block head
  script(type="text/javascript",src="/js/charts/base.js")
  script(type="text/javascript",src="/js/dev.js")
  script(type="text/javascript",src="/js/io.js")
  script(type="text/javascript",src="/js/chart.js")
  script(type="text/javascript",src="/js/chart-sample.js")
  script(type="text/javascript",src="/js/data.js")
  script(type="text/javascript",src="/js/test.js")
block body
  div &nbsp;
  #root(ng-controller="test")
