extends base.jade
block vars
  - var rootid = "iconview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.io/"
block head
  link(rel="stylesheet",type="text/css",href="/assets/select2/4.0.1/css/select2.min.css")
  script(type="text/javascript",src="/js/io.js")
  script(type="text/javascript",src="/js/chart/sample.js")
  script(type="text/javascript",src="/js/chart/index.js")
  script(type="text/javascript",src="/js/data.js")
  script(type="text/javascript",src="/assets/select2/4.0.1/js/select2.min.js")
block body
  div &nbsp;
  #root(ng-controller="test")
    .ldColorEditor(style="width:450px;margin:auto;border:1px solid #ddd;box-shadow:0 1px 3px rgba(0,0,0,0.1);height:150px;border-radius:3px"): .ib(style="position:relative;margin:5px;width:100%;height:100%")
      .chooser(style="position:absolute;left:0;top:0;width:40%;height:100%;padding:5px")
        input.form-control.input-sm
        //-.ldColorPicker.mini-palette.no-ptr
        .palette2(style="width:100%;height:30px;overflow:hidden;border-radius:2px;margin:10px 0")
          each i in [1,3,5,7,9]
            .color2(style="display:inline-block;width:20%;height:100%;background:#"+i+"0"+i)
        select#pal-select.form-control
      .editor(style="position:absolute;left:40%;top:0;width:60%;height:100%;padding:0 10px 10px 0")
        .ldColorPicker.no-palette.no-border(style="width:100%;height:100%")
      .closebtn(style="position:absolute;top:-12px;right:0;background:#fff;border-radius:50%;box-shadow:0 1px 2px rgba(0,0,0,0.4);width:12px;height:12px;font-size:12px;line-height:12px;text-align:center;color:#777;cursor:pointer") &times;
    br
    br
    include /widget/palette-edit.jade
  script(type="text/javascript",src="/js/dev/index.js")
