#authpanel .modal-dialog
  width: 400px

#authpanel-social-login
  .btn-block
    height: 36px
    line-height: 24px
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25)
    color: #757575
    font-family: Roboto,arial,sans-serif
    letter-spacing: .21px
    transition background-color .218s,border-color .218s,box-shadow .218s
    &:hover
      background: #fff
      box-shadow: 0 0 3px 3px rgba(66,133,244,.3)
    i.fa.fa-facebook-official, svg
      font-size: 22px
      color: #425F9C
      float: left
    svg
      height: 22px
  .g-signin2 > div
    width: 100%!important
  .btn-block, .g-signin2
    border: 1px solid #ddd
