@import 'basic'
@import 'vars'

.label.label-light
  font-weight: 200

.charts
  flexbox()
  flex-wrap wrap
.chart
  position: relative
  display: inline-block
  border: 1px solid #ccc
  box-shadow: 0 2px 3px rgba(0,0,0,0.1)
  border-radius: 4px
  margin: 10px
  width: 360px
  min-height: 320px
  padding-bottom: 37px
  flex(1 1 320px)
  background: #faf9f8
  &:hover .chart-img .ib
    background-size: initial
  .chart-img
    display: block
    border-radius: 0
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    width: 100%
    height: 240px
    border-bottom: 1px solid #ddd
    cursor: pointer
    padding: 5px
    background: #fff
    .ib
      width: 100%
      height: 100%
      background: #fff no-repeat center center
      background-size: cover
  .chart-desc
    margin: 5px 10px
    //-margin: 0 5px
    .title
      margin: 5px 0 2px
      font-size: 1.2em
      font-family: arial black
      font-weight: bold
      text-shadow: 0 1px 1px rgba(0,0,0,0.1)
      cursor: pointer
    .desc
      margin: 0
      font-size: 1em
.chart .social.request
  i.fa
    font-size: 1.4em
    margin-right: 10px
    color: #000
    opacity: 0.2
  i.fa.fa-mobile
    font-size: 1.8em
    position: relative
    top: 1px
  i.fa.active
    color: #25b
    opacity: 1


.chart-ribon
  width: 50px
  height: 18px
  position: absolute
  top: 10px
  left: -5px
  text-align: center
  font-size: 0.8em
  color: #fff
  border-bottom-right-radius: 7px
  box-shadow: 0 2px 2px rgba(0,0,0,0.2)
.chart-ribon.private
  background: #944
  &:after
    content: "privae"
    display: inline
.chart-ribon.public
  background: #494
  &:after
    content: "public"
    display: inline


.chart .labels
  margin: 0 10px 5px
  flexbox()
  flex-wrap(wrap)
  .label
    padding: 1px 6px 2px
    color: #fff
    background-color: #aaa
    margin: 0 5px 5px 0
    font-weight: 200
    letter-spacing: 1px
    font-size: 12px
    text-shadow: 0 0px 1px rgba(0,0,0,0.2)
    flex(1 1 auto)

.chart .social
  position: absolute
  width: 100%
  padding: 7px 13px
  border-top: 1px dashed #e0e0e0
  font-size: 0.8em
  bottom: 0
  i.fa
    font-size: 1.2em
  .favorite
    cursor: pointer
    &.active
      color: #e36
    display: inline-block
  .used
    display: inline-block
    margin-left: 20px
  .author
    float: right
    color: #666
    cursor: pointer

#chart-modal
  display: none
  position: fixed
  top: 60px
  left: 0
  width: 100%
  height: 100%
  z-index: index(order, 'chart-modal')
  background: rgba(0,0,0,0.8)
  padding: 20px 20px 80px 20px
  .inner
    width: 80%
    max-width: 1024px
    background: #fff
    height: 100%
    margin: auto
    border: 1px solid #999

.data-field
  font-size: 14px
  padding: 8px 8px
  background: #ade
  border-radius: 3px
  margin: 5px
  cursor: move
  color: #421
  z-index: index(order, 'data-field')
  position: relative
  span
    width: 100%
    display: inline-block
    line-height: 16px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  small
    display: block
    font-size: 12px
    line-height: 16px
    opacity: 0.8
  .fa-close
    position: absolute
    right: 5px
    top: 50%
    margin-top: -6px
    color: #444
    cursor: pointer

.dimensions
  flexbox()
  flex-wrap wrap
  .dimension
    width: 32%
    min-height: 160px
    background: #fff
    border-radius: 3px
    box-shadow: 0 1px 1px rgba(0,0,0,0.3)
    border: 1px solid #ccc
    display: block
    //flex(1 1 240px)
    margin: 0.66%
    padding: 10px
    z-index: index(order, 'chart-dimension')
    position: relative
    .require
      display: block
      position: absolute
      top: 3px
      right: 8px
      font-size: 1.2em
      color: #f99
    .title
      font-weight: bold
      font-size: 1.2em
    .desc
      color: #999
      font-size: 0.95em
    &.drag-enter
      &:after
        content: "Drag Here"
        display: block
        width: 100%
        border-radius: 3px
        border: 1px dashed #ccc
        color: #ccc
        padding: 5px
        margin: 5px 0
        

#code-panel
  box-shadow: 0 1px 1px rgba(0,0,0,0.1)
  border-radius: 3px
  border: 1px solid #ccc
  background: #fff
  position: relative
  width: 100%
  //-overflow: hidden
  //-height: 658px

  #code-tabs 
    border-bottom: 1px solid #ddd
    box-shadow: 0 1px 3px rgba(0,0,0,0.1)
    z-index: index(order, 'code-tabs')
    position: relative
    overflow: hidden
    .tab
      no-selection()
      display: inline-block
      width: 120px
      padding: 10px
      background: #fff
      border: 1px solid #ccc
      border-bottom: 0
      margin: -1px 0 0 -1px
      cursor: pointer
      //-display: none
      //-&.shown
      //  display: inline-block
      .desc
        span:after
          content: ", "
          display: inline
        span:last-of-type, span:first-of-type
          &:after
            content: ""
          
      &.active
        position: relative
        &:before
          content: " "
          display: block
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 2px
          background: #f00
        &:after
          content: " "
          display: block
          width: 10px
          height: 10px
          position: absolute
          bottom: -5px
          left: 10px
          transform(rotate(45deg))
          border-right: 1px solid #ddd
          border-bottom: 1px solid #ddd
          background: #fff
          box-shadow: 1px 1px 1px rgba(0,0,0,0.1)
      div:nth-of-type(1)
        span
          font-weight: bold
        small
          color: #777
          opacity: 0.8
          font-size: 10px
          font-weight: light
      div:nth-of-type(2)
        font-size: 12px
        color: #444
    .tab.cat
      width: 45px
    .tab
      z-index: index(order, 'code-tabs-view')
      position: relative
    .tab.action
      text-align: center
      padding: 8px 0 4px
      width: 60px
      color: #444
      i.fa
        font-size: 25px
        display: block
      span
        font-size: 12px
        //font-family: 'open sans condensed',verdana,arial,sans-serif
        font-weight: bold
    .tab.src
      left: -500px
      transition(all 0.5s ease-in-out)
      z-index: index(order, 'code-tabs-src')
      position: absolute
    .tab.src.shown
      position: relative
      left: 0

#code-header
  position: absolute
  z-index: index(order, 'code-ctrl')
  top: 0
  left: 0
  width: 100%
  height: 32px
  padding: 5px
  background: rgba(255,255,255,0.95)
  border-bottom: 1px solid #ddd
  box-shadow: 0 1px 3px rgba(0,0,0,0.1)
  .tabs span
    width: 0
    opacity: 0
    transition opacity 0.1s ease-in-out, width 0.1s ease-in-out
    display: inline-block
    height: 21px
    overflow: hidden
    font-size: 14px
    margin-right: 0
    color: #bbb
    cursor: pointer
    i
      font-size: 13px
      padding: 4px
      border-radius: 4px
      background: #ddd
      color: #fff
      width: 21px
      height: 21px
      text-align: center
  .tabs span.active, .tabs span:hover
    color: #333
    i
      color: #fff
      background: #333

#code-header.fullscreen .tabs span, #code-header .tabs span.active
  width: 100px
  opacity: 1
  margin-right: 20px

#code-ctrl
  position: absolute
  z-index: index(order, 'code-ctrl')
  bottom: 0
  left: 0
  width: 100%
  height: 48px
  padding: 6px
  background: #fff
  border-top: 1px solid #ddd
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1)
  text-align: right

#code-editor
  width: 100%
  overflow: hidden
  height: 500px
  position: absolute
  //-border-right: 1px solid #ddd
  border: 1px solid #ddd
  margin-top: 15px
  panel()
  .box
    width: 100%
    height: 100%
    padding: 32px 0 48px 0
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: index(order, 'edit-box')
    opacity: 0.01
    &.active
      z-index: index(order, 'edit-box-active')
      opacity: 1.0
  .CodeMirror
    z-index: index(order, 'codemirror')
    width: 100%
    height: 100%

.CodeMirror-code > .error
  background: #fb9
  .CodeMirror-linenumber
    color: #fff
    background: #e64

#code-editor-assets
  background: #fff
  &.box
    padding-top: 37px
    padding-left: 3px

#code-panel.mini 
  height: 60px
  .CodeMirror, #code-ctrl
    display: none
  #code-tabs .tab.active
    top: 0
    &:after
      display: none

#visualization-canvas
  width: 60%
  height: 600px
  position: absolute
  top: 59px
  right: 0
  background: #fff

.plpanel
  panel()
  width: 100%
  margin: 15px 0 10px
  height: 500px

#config-panel
  position: relative
  background: #fff

#chart-settings
  position: relative
  background: #fff
  padding: 10px
  z-index: index(order, 'chart-settings')
  border-bottom: 1px solid #ccc
  padding-bottom: 10px
#chart-desc-input
  max-width: 100%
  max-height: 60px

#chart-configs
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 186px 10px 0
  overflow-y: scroll
  overflow-x: hidden
  z-index: index(order, 'chart-configs')
  .ib
    width: 100%

#visualization-canvas2
  margin: 15px 0 0
  height: 500px
  width: 100%
  overflow: hidden
  position: absolute
  padding-bottom: 45px
  background: #f9f9f9
  opacity: 0.01
  & > .btn-group
    position: absolute
    bottom: 5px
    right: 5px
  iframe
    border-bottom: 1px solid #ddd
  .closebtn
    display: none
  .dropup
    bottom: 5px
    left: 5px

#code-editor.fullscreen, #visualization-canvas2.fullscreen
  position: fixed
  top: 5%
  left: 5%
  width: 90%
  height: 90%
  margin: 0
  .closebtn
    display: block

#code-editor.active
  z-index: index(order, 'edit-active')

#visualization-canvas2.active
  z-index: index(order, 'edit-active')
  opacity: 1

#code-editor.fullscreen
  z-index: index(order, 'edit-fullscreen')
#visualization-canvas2.fullscreen
  z-index: index(order, 'edit-fullscreen')

#code-editor.fullscreen.active
  z-index: index(order, 'edit-fullscreen-active')
#visualization-canvas2.fullscreen.active
  z-index: index(order, 'edit-fullscreen-active')

#fullscreen-dimmer
  display: none

#fullscreen-dimmer.fullscreen
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: index(order, 'fullscreen-dimmer')
  background: rgba(0,0,0,0.5)

#code-error
  position: absolute
  white-space: pre
  bottom: -507px
  left: 7px
  background: #fff
  border: 1px solid #f96
  padding: 2px 6px
  font-size: 12px
  border-radius: 3px
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  color: #900
  z-index: index(order, 'code-error')
  overflow: scroll
  width: 50%
  &.fullscreen
    z-index: index(order, 'fullscreen-err')
    position: fixed
    bottom: 10px
    left: 10px

.chart-config 
  .input-group-addon div
    width: 85px
    display: inline-block
    //overflow: hidden
    //text-overflow: ellipsis
    white-space: normal
    vertical-align: middle

  .input-group > span, .btn-group > span
    width: 90px
    display: table-cell
    padding: 0 2px
    font-size: 12px
  .btn-group
    display: table
    width: 100%
  .btn-group > .btn
    display: table-cell
  .btn-group .dropdown
    .btn
      border-top-left-radius: 0
      border-bottom-left-radius: 0
    .fa-caret-down
      line-height: 16px
      vertical-align: middle
      margin-right: 5px
      float: right
  .btn-group .btn
    width: 100%
    padding-left: 2px
    padding-right: 2px
    font-size: 12px
    background: #ffffff
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%)
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%)
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%)
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 )"


.chart-config
  margin-bottom: 5px
.chart-config .input-group
  width: 100%

#chart-action
  width: 100%
  flexbox()
  .btn
    flex(1 1 auto)
  .dropdown .btn
    border-top-left-radius: 0
    border-bottom-left-radius: 0

#data-create-modal
  clear: both
  padding-top: 20px

small.hint
  font-size: 0.9rem
  opacity: 0.8

.btn
  border-radius: 2px

.ldColorPicker.bubble
  z-index: index(order, 'colorpicker')

.file
  position: relative
  margin: 5px
  padding: 5px 10px
  border-radius: 2px
  border: 1px solid #ddd
  box-shadow: 0 2px 2px rgba(0,0,0,0.3)
  background: #fff
  display: inline-block
  width: 160px
  height: 57px
  vertical-align: middle
  &.uploader
    text-align: center
    line-height: 45px
    color: #999
    cursor: pointer
    box-shadow: none
    border-style: dashed
.file input
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0.01
  cursor: pointer

.file .title
  font-weight: bold
  font-size: 1.1em
  border-bottom: 1px solid #ddd
  margin-bottom: 5px
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
.file .type
  color: #999
  font-size: 0.9em
  .pull-right
    line-height: 20px
    position: absolute
    right: 10px
  i
    display: inline-block
    width: 110px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

#assets-preview
  position: fixed
  z-index: index(order, 'assets-preview')
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.5)
  .ib
    position: absolute
    top: 5%
    left: 10%
    width: 80%
    height: 80%
    background: #fff
    border-radius: 2px
  .iframe, iframe
    width: 100%
    height: 100%
    border: none
#share-buttons i.fa
  margin: 0 10px
  cursor: pointer
  display: inline-block
  transition(opacity 0.5s ease-in-out)
  &:hover
    position: relative
    top: -1px
    text-shadow: 0 2px 2px rgba(0,0,0,0.2)

#share-buttons.disabled i.fa
  opacity: 0.2
  cursor: not-allowed

#permission-modal, #setting-modal, #data-edit-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.5)
  z-index: index(order, 'high-modal')
#permission-modal, #setting-modal, #data-edit-modal, #setting-modal-inner
  .ib
    width: 640px
    height: 530px
    background: #fff
    border-radius: 3px
    box-shadow: 0 4px 4px rgba(0,0,0,0.5)
    padding: 10px
    margin: 70px auto 0
    position: relative
  h3
    margin: 0
    padding: 8px 0 8px 10px
    border-bottom: 1px solid #eee

  .save-hint-btn
    margin-right: 5px
    &.btn-warning
      animation(jump 1s infinite linear)

#data-edit-modal .ib
  width: 90%
  // TODO redesign data edit modal to fit into different screen
  height: 580px

#setting-modal-inner .ib
  height: auto
  z-index: index(order, 'high-modal-inner')
  position: absolute
  left: 50%
  margin-left: -320px


#field-agent
  position: absolute
  z-index: 99999
  width: 100%
  opacity: 0.01
  margin: 0 15px
  display: none
#field-agent.active
  display: block
#field-agent.dragging
  opacity: 1

#datamap-hint
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(255,255,255,0.8)
  text-align: center
  display: flex
  justify-content: flex-start
  font-size: 24px
  z-index: index(order, 'datamap-hint')
  p
    margin-top: 70px
#datamap-hint.step2
  background: none
  font-size: 11px
  left: -44px
  width: 100px
  p:last-of-type
    background: rgba(255,255,255,0.7)
    padding: 5px
    border-radius: 50%
    text-shadow: none
    margin-left: 12px
    text-align: center
    border: 1px solid #ccc
    height: 45px
    width: 45px

.dropdown-menu > .active > a
  color: #fff
  background: #ed1d78
