d1 = #222
d2 = #292929
d3 = #333

#code-editor.dark
  border: 1px solid d2
  .CodeMirror
    background: d3
    color: #fff
    .cm-string
      color: #f99
    .cm-number
      color: #9f9
    .cm-keyword
      color: #f9f
    .cm-def
      color: #99f
    .cm-property
      color: #9cf
  #code-header
    background: d1
    border-bottom: 1px solid d2
    color: #eee
  #code-ctrl
    background: d1
    border-top: 1px solid d2
  .CodeMirror-linenumber
    color: #999
  .CodeMirror-linenumbers
    background: d1
  .btn
    background: d3
    color: #fff
