#footer
  width: 100%
  margin-top: 60px
  border-top: 1px solid #ccc
  background: #eee
  color: #444
  padding: 20px
  box-shadow: 0 -1px 2px rgba(0,0,0,0.1)
  clear: both
  .inner
    max-width: 1200px
    margin: auto
  span
    display: block
    margin: 5px 0

