@import 'vars'
@import 'basic'

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  background: color["background"]
  color: color["default"]

#root
  min-height: 100%
  margin: 0 20px 0
  padding-bottom: 100px
  padding-top: 60px
#root.with-header
  margin: -204px 20px 0
  padding: 170px 0 100px
#root.with-header.simple
  margin-top: -180px
  padding-top: 195px

#loading-dimmer
  position: fixed
  display: none
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: url(/assets/img/loading-lg-white.svg) rgba(0,0,0,0.5) center center no-repeat
  z-index: index(order, 'alertbox')
#loading-dimmer.active
  display: block

select[ngselect2]
  height: 34px

@import 'base'
@import 'modal'
@import 'layout'
@import 'ldcp'
@import 'dev'
@import 'nav/index'
@import 'landing'
@import 'footer'
@import 'authpanel'
@import 'dataset/index'
@import 'request/index'
@import 'palette'
@import 'editor'
@import 'explore'
@import 'setting'
@import 'medium'
@import 'user/index'
@import 'team/index'
@import 'permission'
@import 'share'
@import 'sheet'

// deprecated
@import 'select2'
// use this instead
@import 'select-new'

// if you want to use open sans:
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700")
// font-family: 'Open sans',verdana,arial,sans-serif
