
#landing
  padding-top: 1px
  position: relative
  top: 60px
  width: 100%
  height: 260px
  background: #177ba6
  box-shadow: inset 0 0 200px rgba(0,0,0,0.5)
  color: #fff
  .title
    width: 100%
    font-size: 64px
    text-align: center
    position: absolute
    top: 35%
    margin-top: -32px
    //-font-family: "Noto Sans", "Noto Sans TC", sans-serif;
  .subtitle
    width: 100%
    font-size: 24px
    text-align: center
    position: absolute
    top: 35%
    font-weight: 200
    margin-top: 48px

@media (max-width: 767px)
  #landing
    top: 45px
    .title
      font-size: 48px
      margin-top: -24px
    .subtitle
      font-size: 16px
      margin-top: 40px
