
#landing
  padding-top: 1px
  position: relative
  width: 100%
  height: 80%
  background: url(/assets/img/landing.png) center 60px no-repeat #ebeae9
  background-size: cover
  background-position-y: 60px
  text-align: center
  color: #444
  box-shadow: inset 0 -6px 12px rgba(0,0,0,0.3)
  .title
    width: 100%
    font-size: 64px
    text-align: center
    position: absolute
    top: 35%
    margin-top: -32px
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif
    font-weight: 700
  .subtitle
    width: 100%
    font-family: Open Sans Condensed, verdana,arial,sans-serif
    font-weight: 300
    font-size: 24px
    text-align: center
    position: absolute
    top: 35%
    font-weight: 200
    margin-top: 48px
#landing-svg
  width: 100%
  height: 150%
  position: absolute
  z-index: 1

@media (max-width: 767px)
  #landing
    top: 45px
    .title
      font-size: 48px
      margin-top: -24px
    .subtitle
      font-size: 16px
      margin-top: 40px

#product-description
  position: relative
  width: 100%
  .row
    border-top: 1px solid #999
    border-bottom: 1px solid #999
    padding: 40px 0
  b
    color: #ed1d78

#chart-filter
  margin-top: -52px
  #chart-explore-bar
    margin-bottom: 0
#chart-filter.sticked
  width: 96%
  left: 2%
  z-index: 99
  margin-top: 0
  #chart-explore-bar
    box-shadow: 0 4px 8px rgba(0,0,0,0.15)
