@import basic
.ldcp-colors.ldcp-g21 .ldcp-palette .ldcp-color
  margin: 0 2px 0 0
.ldcp-colors.ldcp-g21 .ldcp-palette .ldcp-color > div
  box-shadow: none
.ldColorPicker .ldcp-g31 .ldcp-caret
  width: 42px
  overflow: hidden

.ldcp-g31 span, .ldcp-g31 input
  font-size: 16px
  line-height: 21px
.ldcp-g31 input
  width: 50px
.ldcp-g31 input.ldcp-input-hex
  width: 70px
.ldcp-v.ldcp-g3
  height: 21px
  line0height: 21px
.ldcp-g2
  height: 25px
.ldcp-cbtn
  line-height: 25px
.ldcp-cbtn.ldcp-btn-edit
  display: none
.ldcp-colors span, .ldcp-colors span:first-of-type
  width: 24px
  flex(0 0 24px)

