@import 'basic'
@import 'vars'

#request-editor
  .medium-insert-buttons-addons
    margin-left: -50px
  .medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show,
  .medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li a
    border: none
    color: #ddd
    font-weight: 900
    background: #fff
    font-size: 33px
    .fa
      color: #777
      line-height: 32px
      vertical-align: top

  .medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show
    border-radius: 2px
    border: 1px solid #ccc
    position: relative
    transition(all 0.1s linear)
    &:after
      content: " "
      display: block
      width: 8px
      height: 8px
      border: 1px solid #ccc
      border-left: 0px solid #ccc
      border-bottom: 0px solid #ccc
      background: #fff
      transform(rotate(45deg))
      position: absolute
      right: -4.1px
      top: 50%
      margin-top: -4.1px
      opacity: 1
      transition(all 0.1s linear)
  .medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show.medium-insert-buttons-rotate
    border-radius: 50%
    width: 32px
    color: #ccc
    font-size: 32px
    line-height: 28px
    padding-left: 1px
    &:before
      font-size: 0
      height: 0
      padding: 0
    &:after
      width: 0
      height: 0
      opacity: 0
      margin-top: 0
      right: 0

  .medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show
    width: 42px
    color: rgba(0,0,0,0)
    font-size: 1px
    line-height: 1px
    margin-left: -50px
    &:before
      content: "add media"
      display: block
      font-size: 12px
      line-height: 11px
      font-weight: 300
      color: #999
      padding: 4px 0
      transition(all 0.1s linear)

  .editable.medium-editor-insert-plugin.medium-editor-placeholder
    min-height: 115px
