@import basic
@import vars

#nav-top
  width: 100%
  height: 60px
  background: none
  position: fixed
  transition all 0.3s ease-out
  border-bottom: 1px solid #999
  nav.navbar-default
    transition all 0.3s ease-out
  z-index: index(order, 'nav-top')
  &.dim
    height: 50px
    @media (max-width: 682px)
      height: 45px
    background: rgba(255,255,255,0.9)
    nav.navbar-default
      margin: 5px auto

#nav-top nav.navbar-default
  background: none
  border: none
  color: #444
  max-width: 1024px
  margin: 10px auto
  .navbar-brand, .navbar-nav > li > a
    color: #444
    letter-spacing: 1px
    &:hover
      color: #999
      text-shadow: 0 0 5px rgba(255,255,128,0.7)
  .navbar-brand
    padding-top: 9px
  .navbar-nav > li > a
    padding-top: 10px
    @media (max-width: 480px)
      font-size: 12px
  @media (max-width: 1200px)
    max-width: 800px
  @media (max-width: 800px)
    margin-top: 5px
    min-height: initial
    border-bottom: 1px solid #e2e2e2
    .navbar-brand
      padding-left: 8px
      padding-right: 8px
      font-size: 1.2em
      line-height: 1.3em
      padding-bottom: 0

#nav-top li.dropdown
  cursor: pointer
  padding: 0
  .avatar
    width: 24px
    height: 24px
    margin-right: 10px
    border-radius: 3px
    background-color: #ddd
    background-size: contain
    display: inline-block
    vertical-align: middle
  li
    text-shadow: none
  .dropdown-menu
    background: rgba(255,255,255,1)
    position: absolute
    border-radius: 3px
    border: 1px solid #ccc
    box-shadow: 0 2px 3px rgba(0,0,0,0.1)

#nav-top .pull-right li.dropdown
  .dropdown-menu
    left: auto
    right: 5px

#nav-top .navbar-nav
  float: left
  margin: 0
  & > li
    float: left
  @media (max-width: 682px)
    & > li > a
      padding-left: 8px
      padding-right: 8px
      font-size: 0.9em
      
    & > li.heart
      display: none

@media (max-width: 768px)
  #nav-top .navbar-header
    display: none

#nav-top .navbar-default .navbar-nav > .open > a
  background: rgba(0,0,0,0.1)

#nav-login
  i.fa
    display: none
  @media (max-width: 480px)
    span
      display: none
    i.fa
      display: inline
