.select-box
  vertical-align: middle
  display: inline-block
  width: 100%
  position: relative
  .avatar
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
  input:focus
    outline: none
    background: rgba(255,255,255,0.2)
  .select-input.form-control
    position: relative
    width: 100%
    overflow-y: scroll
    overflow-x: hidden
    padding: 5px 3px 1px
    border-radius: 4px
    .select-option
      display: inline-block
      border: 1px solid #ccc
      background: #eee
      border-radius: 4px
      padding: 0 4px 0 2px
      margin: 0 5px 3px 0
      cursor: pointer
      & > .fa-close
        color: #999
        font-size: 0.8em
      & > span
        margin-left: 3px
        padding-left: 4px
        border-left: 1px solid #ccc
        display: inline-block
      .avatar
        display: inline-block
        vertical-align: middle
        margin-top: -2px
        width: 16px
        height: 16px
      .avatar + .name
        display: inline-block
        margin-left: 4px
        padding-left: 3px
        border-left: 1px solid #ccc
    input
      width: 100%
      border: none
      -webkit-appearance: textfield

  .select-dropdown
    z-index: index(order, 'selectbox-dropdown')
    display: none
    width: 100%
    border: 1px solid #ccc
    border-radius: 0 0 4px 4px
    background: #fff
    border-top: 0
    max-height: 200px
    overflow-y: scroll
    position: absolute
    top: 34px
    & > div:first-child
      height: 0
      overflow: hidden
    .select-hint
      margin: 3px
      a
        float: right
        margin-right: 5px
        cursor: pointer
    .select-option
      padding: 5px
    .select-option:hover, .select-option.active:hover
      background: #f29
      color: #fff
    .select-option
      position: relative
      i.fa
        display: none
      .avatar
        display: inline-block
        vertical-align: middle
        margin-right: 5px
        width: 32px
        height: 32px
      .avatar + .name
        display: inline-block
        position: absolute
        top: 0
        bottom: 0
        margin: auto 0
        left: 10px
        height: 18px
        line-height: 16px
        padding-left: 37px
        width: 100%
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
      &.active
        background: #8cc63f
        color: #fff
        i.fa
          display: block

.input-group .select-box:first-child .select-input.form-control
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.select-box.open .select-input.form-control
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.input-group.long
  .select-input, .btn
    height: 60px
  .select-dropdown
    top: 60px

.input-group.sm
  .select-input, .btn
    height: 30px
  .select-dropdown
    top: 30px

.select-box.single
  .select-input.form-control
    padding: 0
    input
      padding-left: 3px
      height: 33px
    .select-option
      width: 100%
      border-radius: 0
      border: none
      margin: 0
      padding: 0
      line-height: 32px
      .avatar
        margin-top: 0
        width: 32px
        height: 32px
        vertical-align: top
      i.fa
        display: none
      span
        border-left: none
        padding: 0
        margin: 0
      .name
        padding: 0
        position: absolute
        top: 0
        left: 37px
        border: none
        bottom: 0
        margin: auto 0
        width: 100%
        overflow: hidden
        text-overflow: ellipsis
        vertical-align: middle
        white-space: nowrap

.select-box.alone
  .select-input.form-control
    border-radius: 0

.select-box.lg
  .select-input
    height: 46px
  .select-option
    line-height: 32px
  .avatar
    width: 26px
    height: 26px
  input
    line-height: 32px
  .select-dropdown
    top: 46px
    i.fa-check
      line-height: 32px
.select-box.lg.single
  .select-input.form-control
    input
      height: 44px
      padding-left: 10px
    .select-option
      line-height: 44px
      .name
       left: 54px
      .avatar
        width: 44px
        height: 44px
        border-radius: 0
