order = join(" ",
  base codemirror chart-configs project-configs,
  chartedit-inner chartedit-inner-active,
  code-ctrl code-error code-tabs code-tabs-src code-tabs-view,
  chart-dimension data-field colorpicker chart-modal,
  base-modal nav-top,
  fullscreen-dimmer chartedit-active chartedit-fullscreen chartedit-fullscreen-active fullscreen-err,
)
