color = {
  primary: #ed1d78
  default: #333333
  border: #cccccc
  background: #f9f9f9
  bklite: #fdfdfc
}
shadow = {
  panel: 0 1px 3px rgba(0,0,0,0.1)
}

order = join(" ",
  base codemirror chart-configs,
  chart-filter,
  edit-box edit-box-active edit-box-mask,
  code-ctrl code-tabs code-tabs-src code-tabs-view,
  chart-dimension data-file data-field,
  datamap-hint,
  closebtn,hint-btn,hint-popup,selectbox-dropdown,
  chart-modal palette-modal,
  fullscreen-dimmer edit-active,
  code-error,
  chart-settings,  //  this is for the dropdown menu
  footer,
  base-modal subnav-top, nav-top,
  middle-modal,
  colorpicker,
  dropdown-menu,
  edit-fullscreen edit-fullscreen-active fullscreen-err,
  backdrop,
  high-modal,
  high-modal-inner,
  assets-preview,
  alertbox,
  notifications,
  float-loader
)
