order = 'base codemirror chart-configs project-configs code-ctrl code-error code-tabs code-tabs-src code-tabs-view chart-dimension data-field colorpicker chart-modal base-modal nav-top fullscreen-dimmer fullscreen-edit fullscreen-err'
