extends /base.jade
block body
  div(style="margin:20px")
    h1 Angular - Jade - Express Example
    h3 by jade template engine
    blockquote
      | #{word1} #{context.word2} 
    h3 by jade template syntax
    blockquote
      span= word1
      span  
      span= context.word2
    h3 from builtin angular module
    blockquote(ng-app="sample",ng-controller="main")
      span {{word2}}
    script(type="text/javascript").
      angular.module("sample", ["backend"]).controller("main", ["$scope", "context", "global", function($scope, context, global) {
        $scope.word2 = context.word2;
        console.log("with global vars inside: ", context);
      }]);
    script(type="text/javascript",src="/sample.js")
