extends /base.jade
block vars
  - var rootid = "exploreview"
  - var url = "https://plotdb.com/chart/explore/"
block head
  link(rel="stylesheet",type="text/css",href="/css/dev/index.css")
  script(src="/js/perm/index.js")
block body
  .panel.panel-default(style="width:500px;margin:90px auto",ng-controller="permEdit")
    .panel-heading &nbsp;
    .panel-body
      ul.nav.nav-tabs(style="margin-top:-47px;margin-bottom:13px")
        li(ng-class="{'active':tab=='publish'}",ng-click="tab='publish'")
          a(href="#") #[i.fa.fa-bullhorn] Publish
        li(ng-class="{'active':tab=='permission'}",ng-click="tab='permission'")
          a(href="#") #[i.fa.fa-lock] Permission
        li(ng-class="{'active':tab=='settings'}",ng-click="tab='settings'")
          a(href="#") #[i.fa.fa-cog] Settings
      .perm-item(style="padding: 10px 0")
        .btn-group
          .btn.btn-default.btn-sm(ng-class="{'active':perm.switch=='publish'}",ng-click="perm.switch='publish'")
            i.fa.fa-check.text-success
            span Published
          .btn.btn-default.btn-sm(ng-class="{'active':perm.switch=='draft'}",ng-click="perm.switch='draft'")
            span &nbsp; Draft
        .pull-right.btn.btn-text.btn-sm(ng-cloak,
        ng-show="perm.switch=='publish'") #[b visible] in embed code / share link
        .pull-right.btn.btn-text.btn-sm(ng-cloak,
        ng-show="perm.switch=='draft'") #[b invisible] in embed code / share link
      .sep
      div(ng-show="tab=='permission'")
        include permission.jade
      div(ng-show="tab=='publish'")
        include publish.jade

    .panel-footer.text-right
      .btn.btn-success.btn-sm(ng-class="{'btn-emphasis': needSave}") SAVE
      span &nbsp;
      .btn.btn-default.btn-sm Cancel
