mixin configPanel(perm,tabs)
  .panel.panel-default(ng-controller="permEdit",ng-init="setPerm("+perm+")")
    .panel-heading &nbsp;
    .panel-body: div(ng-cloak)
      ul.nav.nav-tabs(style="margin-top:-47px;margin-bottom:13px")
        if tabs.indexOf('publish')>=0
          li(ng-class="{'active':tab=='publish'}",ng-click="tab='publish'")
            a(href="#") #[i.fa.fa-bullhorn] Publish
        if tabs.indexOf('permission')>=0
          li(ng-class="{'active':tab=='permission'}",ng-click="tab='permission'")
            a(href="#") #[i.fa.fa-lock] Permission
        if tabs.indexOf('setting')>=0
          li(ng-class="{'active':tab=='setting'}",ng-click="tab='setting'")
            a(href="#") #[i.fa.fa-cog] Settings
      .perm-item(style="padding: 10px 0")
        .btn-group
          .btn.btn-default.btn-sm(ng-class="{'active':perm.switch=='publish'}",ng-click="perm.switch='publish'")
            i.fa.fa-check.text-success
            span  Published
          .btn.btn-default.btn-sm(ng-class="{'active':perm.switch=='draft'}",ng-click="perm.switch='draft'")
            i.fa.fa-check.text-success
            span  Draft
        .pull-right.btn.btn-text.btn-sm(
        ng-show="perm.switch=='publish'") #[b visible] in embed code / share link
        .pull-right.btn.btn-text.btn-sm(
        ng-show="perm.switch=='draft'") #[b invisible] in embed code / share link
      .sep
      if tabs.indexOf('permission')>=0
        div(ng-show="tab=='permission'")
          include permission.jade
      if tabs.indexOf('publish')>=0
        div(ng-show="tab=='publish'")
          include publish.jade

    .panel-footer.text-right
      .btn.btn-success.btn-sm(ng-class="{'btn-glowing': needSave}") SAVE
      span &nbsp;
      .btn.btn-default.btn-sm Cancel
