include ../mixin.jade
div(ng-controller="folderEdit")
  +cover-modal("edit.toggled.name", "edit.toggle(false, 'name')")
    .panel.panel-default(style="width:500px;margin:auto")
      .panel-body(style="height:135px;min-height:135px")
        label(ng-show="!folder.key") Create Folder
        label(ng-show="folder.key") Rename Folder
        input.form-control(placeholder="folder name", value="unnamed folder",ng-model="name")
        br
        .btn-group.pull-right
          .btn.btn-default(ng-if="!folder.key", ng-click="save()") Create
          .btn.btn-default(ng-if="folder.key", ng-click="save()") Save
          .btn.btn-default(ng-click="edit.toggle(false,'description')") Cancel
  +cover-modal("edit.toggled.description", "edit.description.toggle(false, 'description')")
    .panel.panel-default(style="width:500px;margin:auto")
      .panel-body(style="height:165px;min-height:135px")
        label Folder Description
        textarea.form-control(cols="4",placeholder="write something about this collection...", value="",ng-model="description")
        br
        .btn-group.pull-right
          .btn.btn-default(ng-click="save()") Save
          .btn.btn-default(ng-click="edit.toggle(false,'description')") Cancel
