extends /base.jade
block vars
  - var rootid = "iconview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.io/"
block head
  script(type="text/javascript",src="/js/io.js")
  script(type="text/javascript",src="/js/chart/sample.js")
  script(type="text/javascript",src="/js/chart/index.js")
  script(type="text/javascript",src="/js/data.js")
block body
  div &nbsp;
  #root(ng-controller="chartEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    include /widget/palette-edit-modal.jade
    #fullscreen-dimmer(ng-class="{'fullscreen':fullscreen.toggled}")
    #code-panel(ng-class="{'mini':vis!='code' && vis!='stylesheet' && vis!='document'}")
      #code-tabs
        .tab.cat.shown(ng-click="showsrc=!!!showsrc")
          div.text-right #[span src]
          .desc.text-right
            i.glyphicon.glyphicon-chevron-right(ng-show="!showsrc")
            i.glyphicon.glyphicon-chevron-left(ng-show="showsrc")
        .tab.shown(ng-class="{'active':vis=='preview'}",ng-click="vis='preview'",ng-cloak)
          div #[span preview]
          .desc {{chart.dimension|length}} dimensions
        .tab(ng-class="{'active':vis=='code','shown':showsrc}",ng-click="vis='code'",ng-cloak)
          div #[span code] #[small javascript]
          .desc {{chart.code.size|size}}, {{chart.code.lines}} lines
        .tab(ng-class="{'active':vis=='stylesheet','shown':showsrc}",ng-click="vis='stylesheet'",ng-cloak)
          div #[span stylesheet] #[small css]
          .desc {{chart.style.size|size}}, {{chart.style.lines}} lines
        .tab(ng-class="{'active':vis=='document','shown':showsrc}",ng-click="vis='document'",ng-cloak)
          div #[span document] #[small html]
          .desc {{chart.doc.size|size}}, {{chart.doc.lines}} lines
        .tab(ng-class="{'active':vis=='assets','shown':showsrc}",ng-click="vis='assets'",ng-cloak)
          div #[span assets] #[small]
          .desc no files

    .row
      .col-sm-3
        #config-panel.plpanel
          #project-configs
            label Project
            .pull-right(style="cursor:pointer;font-family:open sans condensed;font-weight:bold")
              small #[i.fa.fa-link] Link
              span &nbsp; &nbsp;
              small #[i.fa.fa-film] Embed
            .chart-config
              .input-group
                span.input-group-addon name
                input.form-control(type="text",ng-model="chart.name",placeholder="Project Name")
            #project-action.btn-group(style="width:100%")
              .btn.btn-default(ng-disabled="!chart.name", ng-click="save()") Save
              .dropdown
                .btn.btn-default.dropdown-toggle(data-toggle="dropdown") #[i.fa.fa-download] #[span.caret]
                ul.dropdown-menu
                  li: a(href="#") PNG
                  li: a(href="#") SVG
          #chart-configs: .ib
            label Config
            .chart-config(ng-repeat="(name,v) in chart.config")
              .input-group(ng-if="v.type[0].name!='Boolean' && v.type[0].name!='Palette' && v.type[0].name!='Color'")
                span.input-group-addon {{v.name || name}}
                input.form-control(type="text",ng-attr-placeholder="{{v.type[0].name}}, e.g: {{v.default}}",ng-model="v.value",style="text-align:center")
              //TODO coloredit
              .btn-group(ng-if="v.type[0].name=='Color'",ng-click="coloredit.edit(v);")
                span.input-group-addon {{v.name || name}}
                div(style="display:table-cell;float:left;width:100%;height:100%;border:1px solid #ccc;padding:5px;text-align:center;cursor:pointer;border-top-right-radius:3px;border-bottom-right-radius:3px;")
                  div(ng-attr-style="background:{{v.value}};width:100%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:24px;user-select:none;-webkit-user-select:none",ldColorPicker,ng-model="v.value",config="coloredit.config(v,$index)") &nbsp;
              //- Palette
              .btn-group(ng-if="v.type[0].name=='Palette'",ng-click="paledit.edit(v);")
                span.input-group-addon {{v.name || name}}
                div(style="display:table-cell;float:left;width:100%;height:100%;border:1px solid #ccc;padding:5px;text-align:center;cursor:pointer;border-top-right-radius:3px;border-bottom-right-radius:3px;")
                  div(ng-repeat="c in v.value.colors",ng-attr-style="background:{{c.hex}};width:{{90/v.value.colors.length}}%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:24px;user-select:none;-webkit-user-select:none") &nbsp;
              //- Boolean
              .btn-group(ng-if="v.type[0].name=='Boolean'")
                span.input-group-addon {{v.name || name}}
                .btn.btn-default(ng-click="v.value=!!!v.value") {{v.value}}

      .col-sm-9(style="padding-left:0;position:relative")
        #code-editor(ng-show="vis!='preview'",ng-class="{'fullscreen':fullscreen.toggled}")
          #code-error(ng-show="error",ng-class="{'fullscreen':fullscreen.toggled}") {{error}}
          #code-header {{vis}}
          #code-editor-code.inner(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="codemirror.code",ng-model="chart.code.content",ng-show="vis=='code'",ui-refrehs="vis")
          #code-editor-style.inner(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="codemirror.style",ng-model="chart.style.content",ng-show="vis=='stylesheet'",ui-refrehs="vis")
          #code-editor-doc.inner(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="codemirror.doc",ng-model="chart.doc.content",ng-show="vis=='document'",ui-refrehs="vis")
          #code-ctrl
            .btn-group
              .btn.btn-default(ng-click="reset()") Reset
              .btn.btn-default(ng-click="fullscreen.toggle()")
                span(ng-cloak,ng-if="fullscreen.toggled") Leave
                span(ng-cloak,ng-if="!fullscreen.toggled") Enter
                span  Full Screen
              .btn.btn-default(ng-click="chart.render();vis='preview'") Preview #[small.hint Alt-Enter]

        #visualization-canvas2.plpanel(ng-show="vis=='preview'",ng-class="{'fullscreen':fullscreen.toggled}")
          .btn-group
            .btn.btn-default.btn-sm(ng-click="reset()") Reset
            .btn.btn-default.btn-sm(ng-click="fullscreen.toggle()")
              span(ng-cloak,ng-if="fullscreen.toggled") Leave
              span(ng-cloak,ng-if="!fullscreen.toggled") Enter
              span  Full Screen
            .btn.btn-default.btn-sm(ng-click="vis='code'") Open Code #[small.hint Alt-Enter]

          iframe#chart-renderer(src="http://localhost/render.html",
          style="width:100%;height:100%;border:none;overflow:hidden",scrolling="no")

    #binding-panel
      .row
        .col-sm-12
          label Datasets
          .data-fields(ng-controller="dataFiles")
            .data-file(ng-repeat="file in datasets",style="cursor:pointer",
            ng-click="file.toggle=!!!file.toggle",ng-class="{'active':file.toggle}")
              .title {{file.name}}
              .desc {{file.size}}, {{file.rows}} rows
            .data-file.data-file-new
              .title(style="line-height:2.5em",
              ng-click="showDataCreateModal=!!!showDataCreateModal") add new dataset ...
            br.clearfix
          #data-create-modal(ng-show="showDataCreateModal")
            include /data/create.jade
      hr
      .row
        .col-sm-4(style="position:relative")
          label Data Fields
          .data-fields(ng-controller="dataFiles")
            .data-file(ng-repeat="file in datasets",ng-show="file.toggle",style="position:relative;z-index:10")
              .closebtn(ng-click="file.toggle=!!!file.toggle") &times;
              .title {{file.name}}
              .desc {{file.size}}, {{file.rows}} rows
              .data-field(ng-repeat="field in file.fields",ng-attr-style="background:{{file.color}}",ng-drag="true",ng-drag-data="field") {{field.name}} #[small {{field.type}}]
            br.clearfix
          img(src="/assets/img/drag.png",style="position:absolute;right:10px;z-index:0")
        .col-sm-8
          label Dimensions
          .dimensions
            .dimension(ng-repeat="(name,dim) in chart.dimension",ng-drop="true",
            ng-drop-success="dimension.bind($event,dim,$data)")
              .require(ng-show="dim.require"): i.fa.fa-asterisk
              .title {{name}}
              .desc accept: #[span(ng-repeat="type in dim.type") {{type.name}}] #[span(ng-show="!dim.type.length") Any]
              .data-field(ng-repeat="field in dim.fields")
                | {{field.name}} 
                small {{field.type}}
                .pull-right: i.fa.fa-close(ng-click="dimension.unbind($event, dim, field)")
            .dimension.flexend
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading: label Deploy as Template
          .panel-body
            p You can deploy this chart as a new template for others to use.

            label Description
            textarea.form-control(ng-model="chart.desc",rows="5",style="margin-bottom:5px",placeholder="write something about this template..")
            label What kind of data best fits into this chart?
            input.form-control(ng-model="chart.tags",style="margin-bottom:5px",placeholder="comma separated values, like 'population,economics'")
            .btn.btn-default(ng-click="save(true)") Deploy As Template
  include /footer.jade
