script(type="text/javascript").
  window._backend_ = true;
  angular.module("backend",[]).provider("context", function() { 
    this.$get = function() { return !{JSON.stringify(context || {})}; };
  });
script(type="text/javascript",src="/global")
